.pt-1 {
    padding-top: 50px;
}
.modal.config-sondage{
    margin: 15vh auto;
    width: 53vw;
    height: 70vh !important;
    max-height: 70vh !important;
    overflow-y: auto !important;
}
.modal-open .modal.config-sondage{
    margin: 15vh auto;
    width: 53vw;
    height: 70vh !important;
    max-height: 70vh !important;
    overflow-y: auto !important;
}
.modal.config-sondage .modal-header h4 {
    text-transform: none;
}
.input-pref {
    /* width: 4.6em; */
    width: 6.5em;
    margin: 6px;
    display: initial;
}
.my-form-input {
    width: 100%;
    border: 0 !important;
    border-bottom: 1px  solid #929fba !important;
    border-color: #DADADA !important;
    font-size: 13px;
}
.my-form-input:focus {
    outline: none;
}
.my-form-input ~ .border {
    position: absolute;
    visibility: hidden;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    transition: visibility 0s, width 0.5s ease;
}
.my-form-input:focus ~ .border {
    visibility: visible;
    width: 100%;
}
.border {
    border: 1px solid #4285F4 !important;
}
.ma-21 {
    margin: 2% 1%;
}
.color-white {
    color: white;
}
.input-placeholder {
    color: #989898;
    font-size: 13px;
    font-weight: 600;
}
.padding-lr-config-input {
    padding-left: 4.5rem;
    padding-right: 6rem;
}
.border-hide {
    border-top: hidden !important;
    border-bottom: hidden !important;
    border-right: hidden !important;
}

.btn-link.codate.disabled {
    cursor: not-allowed !important;
    pointer-events: inherit !important;
}

.footer-sticky {
    position: sticky;
    bottom: 0;
    z-index: 3;
    background-color: white;
}

/* Checkmark style starts */
@-moz-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: 15px;
    }
}
@-webkit-keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: 15px;
    }
}
@keyframes dothabottomcheck {
    0% {
        height: 0;
    }
    100% {
        height: 15px;
    }
}
@keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 36px;
    }
}
@-webkit-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 36px;
    }
}
@-moz-keyframes dothatopcheck {
    0% {
        height: 0;
    }
    50% {
        height: 0;
    }
    100% {
        height: 36px;
    }
}
input[type="checkbox"].animate-check  {
    display: none;
}
.check-box {
    top: 9px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: 3px solid #3e3e3e;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: border-color ease 0.2s;
    -o-transition: border-color ease 0.2s;
    -webkit-transition: border-color ease 0.2s;
    transition: border-color ease 0.2s;
    cursor: pointer;
}
.check-box::before, .check-box::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    height: 0;
    width: 0;
    visibility: hidden;
    background-color: #92d12f;
    display: inline-block;
    -moz-transform-origin: left top;
    -ms-transform-origin: left top;
    -o-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 5px;
    content: " ";
    -webkit-transition: opacity ease 0.5;
    -moz-transition: opacity ease 0.5;
    transition: opacity ease 0.5;
}
.check-box::before {
    top: 21.6px;
    left: 12.3px;
    box-shadow: 0 0 0 1.5px #9bad80;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.check-box::after {
    top: 11.1px;
    left: 1.5px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
input[type="checkbox"].animate-check:checked + .check-box, .check-box.checked {
    top: 9px;
    border-color: #92d12f;
}
input[type="checkbox"].animate-check:checked + .check-box::after, .check-box.checked::after {
    visibility: visible;
    height: 15px;
    width: 7px;
    -moz-animation: dothabottomcheck 0.2s ease 0s forwards;
    -o-animation: dothabottomcheck 0.2s ease 0s forwards;
    -webkit-animation: dothabottomcheck 0.2s ease 0s forwards;
    animation: dothabottomcheck 0.2s ease 0s forwards;
}
input[type="checkbox"].animate-check:checked + .check-box::before, .check-box.checked::before {
    visibility: visible;
    width: 6px;
    height: 30px;
    -moz-animation: dothatopcheck 0.4s ease 0s forwards;
    -o-animation: dothatopcheck 0.4s ease 0s forwards;
    -webkit-animation: dothatopcheck 0.4s ease 0s forwards;
    animation: dothatopcheck 0.4s ease 0s forwards;
}

input[type="checkbox"].animate-check:disabled + .check-box {
    cursor: default !important;
    transform: scale(0.65);
}

.max-votant {
    background-color: #92d12f;
    color: white;
    font-weight: 800;
    font-size: 18px;
}

.own-time {
    position: absolute;
    font-size: 15px;
}

@media (max-width: 1280px) {
    .modal.config-sondage{
        margin: 10vh auto;
        width: 65vw;
    }
    .modal-open .modal.config-sondage{
        margin: 10vh auto;
        width: 65vw;
    }
}

@media (max-width: 767px) {
    .modal.config-sondage{
        margin: 8vh auto;
        width: 98vw;
    }
    .modal-open .modal.config-sondage{
        margin: 8vh auto;
        width: 98vw;
    }
}
