.financertable .tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.financertable .tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.financertable .tablesorter-blue tbody > tr:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
    /* with zebra striping */
.financertable .tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td
.financertable .tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td
.financertable .tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.financertable .tablesorter-blue tbody > tr.even:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
    background: #d9d9d9;
}
.financertable .tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.financertable .tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td,
.financertable .tablesorter-blue tbody > tr.odd:hover + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow + tr.tablesorter-childRow > td {
    background: #bfbfbf;
}

/* Grouping widget css;
 * contained in widget.grouping.css (added v2.28.4)
 */
.financertable tr.group-header td {
    background: #eee;
}
.financertable .group-name {
    text-transform: uppercase;
    font-weight: bold;
}
.financertable .group-count {
    color: #999;
}
.financertable .group-hidden {
    display: none !important;
}
.financertable .group-header, .group-header td {
    user-select: none;
    -moz-user-select: none;
}
/* collapsed arrow */
.financertable tr.group-header td i {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #888;
    border-right: 4px solid #888;
    border-left: 4px solid transparent;
    margin-right: 7px;
    user-select: none;
    -moz-user-select: none;
}
.financertable tr.group-header.collapsed td i {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #888;
    border-right: 0;
    margin-right: 10px;
}

.financertable .tablesorter .filtered {
    display: none;
}

/* ajax error row */
.financertable .tablesorter .tablesorter-errorRow td {
    text-align: center;
    cursor: pointer;
    background-color: #e6bf99;
}

.financertable input.tablesorter-filter.form-control.disabled{
    display: none;
}

.financertable tr.group-header td {
    background: #eee;
}
.financertable .group-name {
    text-transform: uppercase;
    font-weight: bold;
}
.financertable .group-count {
    color: #999;
}
.financertable .group-hidden {
    display: none;
}
.financertable .group-header, .group-header td {
    user-select: none;
    -moz-user-select: none;
}
/* collapsed arrow */
.financertable tr.group-header td i {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid #888;
    border-right: 4px solid #888;
    border-left: 4px solid transparent;
    margin-right: 7px;
    user-select: none;
    -moz-user-select: none;
}
.financertable tr.group-header.collapsed td i {
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #888;
    border-right: 0;
    margin-right: 10px;
}

.financertable .smalltextgrey{
    color: grey;
}

.financertable .pie {
    margin: 20px;
}

.financertable svg {
    float: left;
}

.financertable .legend {
    float: left;
    font-family: "Verdana";
    font-size: .7em;
}

.financertable .pie text {
    font-family: "Verdana";
    fill: #000;
}

.financertable .pie .name-text{
    font-size: .8em;
}

.financertable .pie .value-text{
    font-size: 3em;
}

.financertable .tablesorter-icon.glyphicon.glyphicon-chevron-up , .tablesorter-icon.glyphicon.glyphicon-chevron-down {
    float: right !important;
}

.financertable .bootstrap-icon-unsorted:after {
    content: '\F0DC'; /* Code Unicode pour l'icône initiale (ex : Font Awesome) */
    font-family: 'FontAwesome'; /* Assurez-vous d'avoir Font Awesome chargé */
    margin-left: 5px;
    float: right !important;
}

.financertable .infofiltre {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
}

.financertable .tableDL-entete-action button {
    margin: 10px 5px;
    background-color: rgba(241,241,241,0.87);
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    color: rgba(183,183,183,0.87);
}

.financertable .tableDL-entete-action {
    display: none !important;
}

.financertable td:hover .tableDL-entete-action {
    display: block !important;
}

.financertable .tableDL-entete-action button span {
    display: none !important;
}

.dropdowntablebtn {
    right: 0;
    left: auto;
}

.redistline {
    font-size: 12px;
}

.financertable tbody td {
    font-weight: normal !important;
    font-size: 12px;
}

.financertable table {
    margin: 10px;
    width: 98% !important;
}

i.tablesorter-icon.bootstrap-icon-unsorted {
    position: absolute;
    right: 0;
    top: 0;
}

.financerlogtitle {
    color: #43c9b7!important;
}

.financerlogbtn {
    background: transparent!important;
    color: #4623c9!important;
    border: 1px solid #4623c9!important;
    /*padding: 8px 15px !important;*/
    border-radius: 17px;
    margin-right: 10px;
}

.financerlogbtn:hover , .financerlogbtn.active {
    background-color: #4623c9!important;
    color: white!important;
    text-decoration: none!important;
}

/*
.tablesorter-ice .tablesorter-header {
    background: #d8f4f0!important;
    box-shadow: 1px 1px 3px #ddd!important;
    font-weight: bold;
}
*/

/*
.tablesorter-ice .tablesorter-header:hover {
    background-color: #43c9b7!important;
}

 */

.tablesorter-ice .tablesorter-zebra {
    background-color: #F1F9FF;
}


.tablesorter-ice tr.odd>td , .tablesorter-ice tr.even>td  {
    background-color: #fff !important;
}

#fiterBtnGroup {
    padding-left: 15px !important;
}

.tlcolor{
    color : #ff276c !important;
}

.financerlogsmbtn , .needftlbtn {
    padding: 0px 10px!important;
    height: 20px;
    font-size: 10px !important;
}

[data-archived="false"] {
    color : #acabab !important;
}

a[data-archived="false"] {
    color : #acabab !important;
}

#fiterBtnGroup {
    display: flex;
    justify-content: flex-start;
}

#headerselect .select2-selection__choice {
    cursor: move !important;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    gap: 5px;
}
#headerselect .select2-selection__rendered {
    display: flex !important;
    flex-wrap: wrap;
}
#headerselect .drag-handle {
    font-weight: bold;
    cursor: move;
}

.switchTable {
    margin-right: 0 !important;
}

.switchTable span {
    display: none;
    -webkit-transition: all 300ms linear;
    transition: width 300ms linear;
}

.switchTable.active span, .switchTable:hover span  {
    display: inline;
    width: fit-content;
}