@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);

@import url('https://fonts.googleapis.com/css?family=Raleway:400|Nunito:600');
/* entypo */
[class*=entypo-]:before {
  font-family: "entypo", sans-serif;
}

.bodydashboard {
  box-sizing: border-box;
}

.bodydashboard {
  background: #f5f5f5;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  font-family: "Lato", sans-serif;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.004);
  font-size: 100%;
  font-weight: 400;
}

.toggler {
  color: #A1A1A4;
  font-size: 1.25em;
  margin-left: 8px;
  text-align: center;
  cursor: pointer;
}
.toggler.active {
  color: #000;
}

.surveys {
  list-style: none;
  margin: 0;
  padding: 0;
}

.survey-item {
  display: block;
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
  background: white;
  box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
}

.survey-name {
  font-weight: 400;
}

.survey-stage .stage {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
  background: #f2f2f2;
  text-indent: -9999px;
  color: transparent;
  line-height: 16px;
}
.survey-stage .stage.active {
  background: #A1A1A4;
}

.list .list-only {
  display: auto;
}
.list .grid-only {
  display: none !important;
}

.list .social-links {
    display: inline-flex;
}

.grid .grid-only {
  display: auto;
}
.grid .list-only {
  display: none !important;
}

.grid .survey-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 400px;
  /*width: 550px;*/
  margin: 10px;
}
@media screen and (max-width: 600px) {
  .grid .survey-item {
    display: block;
    width: auto;
    height: 150px;
    margin: 10px auto;
  }
}
.grid .survey-name {
  display: block;
  max-width: 80%;
  font-size: 16px;
  line-height: 20px;
}
.grid .survey-country {
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
}
.grid .survey-country,
.grid .survey-end-date {
  color: #A1A1A4;
}
.grid .survey-end-date:before {
  content: "Ends ";
}
.grid .survey-end-date.ended:before {
  content: "Modifié le";
}
.grid .survey-progress {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px;
  border-top: 1px solid #eee;
  font-size: 13px;
}
.grid .survey-progress-bg {
  width: 40%;
  display: block;
}
@media screen and (max-width: 200px) {
  .grid .survey-progress-bg {
    display: none;
  }
}
.grid .survey-progress-labels {
  position: absolute;
  right: 20px;
  top: 0;
  line-height: 40px;
}
@media screen and (max-width: 200px) {
  .grid .survey-progress-labels {
    right: auto;
    left: 10px;
  }
}
.grid .survey-progress-label {
  line-height: 21px;
  font-size: 13px;
  font-weight: 400;
}
.grid .survey-completes {
  line-height: 21px;
  font-size: 13px;
  vertical-align: middle;
}
.grid .survey-stage {
  position: absolute;
  top: 20px;
  right: 20px;
}
.grid .survey-stage .stage {
  display: none;
}
.grid .survey-stage .active {
  display: block;
}
.grid .survey-end-date {
  font-size: 12px;
  line-height: 20px;
}

.survey-progress-label {
  vertical-align: middle;
  margin: 0 10px;
  color: #8DC63F;
}

.survey-progress-bg {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
  background: #eee;
}

.survey-progress-fg {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  background: #8DC63F;
}

#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:not(:first-child):before {
    content: " | ";
}

.view-icon {
    font-size: 19px;
    color: #8f8f8f;
}
.view-icon:hover {
    color: #8DC63F;
}
.view-icon.s {
    font-size: 18px;
}
#displayOptions a {
    cursor: pointer;
}
#displayOptions a.active i {
    color: #8DC63F;
}
#displayOptions button {
    border-color: #8f8f8f;
    color: #8f8f8f;
    background-color: transparent;
}
#displayOptions .btn-outline-dark:not(:disabled):not(.disabled).active,
#displayOptions .btn-outline-dark:not(:disabled):not(.disabled):active,
#displayOptions .show > .btn-outline-dark.dropdown-toggle,
#displayOptions button:hover {
    background-color: #8DC63F;
    border-color: #8DC63F;
    color: #fff;
}
#displayOptions .view-icon svg {
    width: 19px;
}
#displayOptions .view-icon .view-icon-svg {
    fill: #8f8f8f;
}
#displayOptions .view-icon.active .view-icon-svg,
#displayOptions .view-icon:hover .view-icon-svg {
    fill: #8DC63F;
}

.mobileShow {
    display: none;
}
  
@media only screen (max-device-width : 580px){ 
    .mobileShow { 
        display: inline;
    }
}

.obstopbtn {
    padding: 3px;
}

.obstopcnttr {
    display: inline-flex;
}

.obsorderby { 
    padding-left: 10px;
    display: inline-flex;
}

@media only screen (min-device-width : 600px){ 
    .obsorderby { 
        display: inline;
    }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links {
  display: flex;
}

.social-btn {
  cursor: pointer;
  height: 40px;
  width: 40px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 1s;
  border : 1px solid #eee;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
}

.social-btn:hover {
  width: 100px;
  border-radius: 5px;
}

.social-btn:hover span {
  padding: 2px;
  width: max-content;
}

.editdeleteicon {
    font-size: 25px;
    color: #9fbd38;
}


[data-jplist-group]{
    display: flex;
    font-size: 16px;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

[data-jplist-item]{
  border-bottom: 1px dotted #ccc;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  box-sizing: border-box;
}

.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.inner-addon{
    position: relative;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 7px;
    pointer-events: none;
    right: 0px;
}

.jplist-pagination, .jplist-pagingprev, .jplist-pagingnext {
    display: inline-flex;
}

.jplist-pagination button {
    border-color: #9fbd38 !important;
    border: 1px;
    height: 20px !important;
    width: 20px !important;
    margin: 0px 5px;
    border-radius: 20px;

}

.navdash {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: Hack, monospace;
}

.navdash {
  margin: 25px;
  background: #fff;
  padding: 16px;
  border: #dee2e6 solid 1px;
}
.navdash .menuItems {
  list-style: none;
  display: flex;
}
.navdash .menuItems li {
  margin-left: 20px;
}
.navdash .menuItems li a {
  text-decoration: none;
  color: #8f8f8f;
  font-size: 24px;
  font-weight: 400;
  transition: all 0.5s ease-in-out;
  position: relative;
  text-transform: uppercase;
}

#feedback1 {
    height: 0px;
    width: 85px;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 1000;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback1 a {
  display: block;
  background:url(pc.png) no-repeat;
  height: 52px;
  width: 155px; 
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;

}
#feedback1 a:hover {
  background:url(pc-over.png) no-repeat;
}

#feedback {
  height: 0px;
  width: 85px;
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 1000;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

#feedback a {
  display: block;
  background:#fff;
  height: 52px;
  padding-top: 10px;
  width: 155px;
  text-align: center;
  color: #9c27b0;
  font-size: 17px;
  text-decoration: none;
  border: 1px solid #9c27b0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}
#feedback a:hover {
  background:#9c27b0;
  color :#fff;
}

.smallTile {
	width: 30.3%;
  min-width: 300px;
}

.highTile {
	width: 62.6%;
}

.middleTile {
	width: 46.66666667%;
}

.fullTile {
	width: 95.4%;
  height: auto !important;
  min-height: 400px !important;
}

.menuItems a::before {
    position: absolute;
    content: '';
    /* border-radius: 3px; */
    width: 16px;
    height: 16px;
    transform: rotate(45deg);
    visibility: hidden;
    opacity: 0;
    transition: all .2s;
    left: 50%;
    margin-left: -8px;
    bottom: -30px;
    box-shadow: -1px -1px 1px 0px rgba(222,226,230,0.9);
}

.menuItems li.active a::before {
    opacity: 1;
    visibility: visible;
    bottom: -38px;
    background-color: #f8f8f8;
}

.menuItems li.active a {
    color: #9c27b0;
}

.lstick {
	width: 2px;
    background: #398bf7;
    height: 30px;
    margin-left: -20px;
    margin-right: 18px;
    display: inline-block;
    vertical-align: middle;
}

.visiblehover {
	display: none;
}

.visiblehovercontainer:hover .visiblehover {
	display: block;
}

#bodygraph{
      padding: 5px 35px 10px 35px;
      display: flow-root;
}

.mainDash {
      background-color : #dadada;
}

.buttonListDash{
    margin: 10px;
    padding: 90px 35px 5px 10px;
}