ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.cf:before, 
.cf:after {
  content: '';
  display: table;
  visibility: hidden;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

#header {
  width: 100%;
  overflow: visible;
  position: absolute;
  z-index: 10;
  background-color: transparent;
}

.inner-header #header {
  background-color: #517df0;
  height: 110px;
  position: relative;
}

.inner-header #header .menu {
  margin-top: 18px;
  background-color: #FFF;
}

.mainDash {
      background-color : #dadada;
}

#header .col-md-12 {
  padding-left: 0px;
  padding-right: 0px;
}

#primary-nav-button {
  background: transparent;
  display: none;
  position: absolute;
  border: none;
  bottom: 0;
  right: 30px;
  top: 30px;
  width: 60px;
  height: 60px;
  z-index: 11;
  padding: 0;
  outline: none;
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 0;
}

#primary-nav-button:hover {
  background: rgba(0,0,0,0.05);
}

#primary-nav-button.selected {
  background: rgba(0,0,0,0.1);
}

#primary-nav-button:before {
  /* content: 'Ã¢ËœÂ°'; */
  content: '\2261';
  display: inline-block;
  background-color: #517df0;
  font-size: 36px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.05;
  width: 60px;
  height: 60px;
  line-height: 60px;
  color: inherit;
  speak: none;
  border: none;
}

#header .logo {
  float: left;
  margin-left: 30px;
  z-index: 200;
}

#header .logo img {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  height: 50px;
  width: auto;
}

.menu {
  float: right;
  margin-right: 30px;
  margin-top: 18px;
  background-color: #FFF;
}

.menu li {
  float: left;
  margin-left: 10px;
  position: relative;
  line-height: 100px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu .sub-menu li {
  width: 100%;
  margin-left: 0px;
}

.menu li a {
  display: block;
  text-decoration: none;
}

#primary-nav li a {
  color: #3a3a3a;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
  padding: 0px 15px;
  font-size: 13px;
  font-weight: 700;
  transition: all 0.5s;
}
#primary-nav .sub-menu li a {
  font-size: 12px;
  font-weight: 500;
  color: #7a7a7a;
}
#primary-nav li > a:hover,
#primary-nav li.selected > a {
  color: #517df0;
}

.sub-menu li a {
  line-height: 40px!important;
  font-size: 12px!important;
  font-weight: 500;
  color: #7a7a7a;
}

.downarrow {
  background: none;
  display: inline-block;
  padding: 0;
  text-align: center;
  min-width: 3px;
}

.sub-menu .downarrow {
  position: absolute;
  right: 0;
  top: 12px;
  font-size: 18px;
  padding-right: 10px;
}

.downarrow:before {
  content: '\25be';
  color: inherit;
  display: block;
  font-size: 1em;
  line-height: 1.1;
  width: 1em;
  height: 1em;
}

.menu .sub-menu {
  display: none;
  position: absolute;
  left: 0;
  max-height: 1000px;
}

.menu .sub-menu li {
  line-height: 40px;
}

.menu .sub-menu.hide {
  display: none;
}

#primary-nav .sub-menu {
  top: 75px;
  background: #fff;
  min-width: 160px;
  z-index: 200;
}

#primary-nav.mobile .menu {
  margin: 0px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
}

#primary-nav .sub-menu li {
  border-bottom: 1px solid #ddd;
}

#primary-nav .sub-menu li:last-child {
  border-bottom: 0;
}

#primary-nav .sub-menu .downarrow:before {
  content: '\25b8';
}

#primary-nav.mobile {
  display: none;
  position: absolute;
  top: 90px;
  background: #fff;
  width: 100%;
  right: 15px;
  left: 0;
  z-index: 999999;
}

#primary-nav.mobile .menu {
  text-align: center;
  width: 100%;
}

#primary-nav.mobile li {
  width: 100%;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

#primary-nav.mobile li:first-child  {
  width: 100%;
  margin: 0;
}

#primary-nav.mobile li.selected > a {
  border-bottom: 1px solid #ddd;
}

#primary-nav.mobile li:last-child {
  border: none;
}


#primary-nav.mobile .sub-menu {
  top: 0px;
  float: left;
  position: relative;
  width: 100%;
}

#primary-nav.mobile .sub-menu .downarrow {
  top: 15px;
  position: absolute;
  right: 15px;
}

.mobile .downarrow,
.mobile .sub-menu .downarrow {
  position: absolute;
  top:42px;
  right: 25px;
}

#primary-nav.mobile .sub-menu .downarrow:before {
  content: '\25be';
}
#primary-nav-button.mobile {
  display: inline-block;
}

.heading-page {
  background-color: #343e55;
  padding: 100px 0px;
  text-align: left;
} 

.heading-page h2 {
  margin-top: 0px;
  font-size: 28px;
  color: #fff;
}

.heading-page .line-dec {
  width: 60px;
  height: 3px;
  background-color: #517df0;
}

.fa-formheader {
    background: #9fbd38;
    border-radius: 16px;
    padding: 4px;
    margin: 5px;
}
