.pt-1 {
    padding-top: 50px; 
}
.card-vote {
    margin: 1em 0.5em;
    border-radius: 0.15em;
    padding: 1em 0.65em;
    color: #333;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
}
.card-vote h5 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 400 !important;
}
.card-vote hr {
    border-top: 1px solid #333;
    margin: 10px 0;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0px;
    overflow-wrap: break-word;
    background-color: rgb(255, 255, 255);
    background-clip: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.125);
    border-image: initial;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}
.card-header {
    margin-bottom: 0px;
    background-color: rgba(0, 0, 0, 0.03);
    padding: 0.75rem 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.card-body {
    min-height: 1px;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card h4 {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-weight: 400 !important;
}
.m-0 {
    margin: 0 !important
}
.ml-1 {
    margin-left: 1em;
}
.mb-1 {
    margin-bottom: 1em;
}
.p-0 {
    padding: 0 !important;
}
.d-flex {
    display: flex;
}
.text-nowrap {
    white-space: nowrap;
}
.text-bold {
    font-weight: bold;
}
.justify-content-center {
    justify-content: center;
}
.custom-radios input[type="radio"] {
    display: none;
}
.custom-radios input[type="radio"] + label {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 20px;
}
.custom-radios label small.badge {
    color: #777 !important;
    background-color: transparent !important;
    transition: all 0.3s ease;
}
.custom-radios input[type="radio"] + label span img {
    opacity: 0;
    transition: all 0.3s ease;
}
.custom-radios input[type="radio"]:checked.n0 + label small {
    background-color: #14994c !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n1 + label small {
    background-color: #2ecc71 !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n2 + label small {
    background-color: #1ae16e !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n3 + label small {
    background-color: #ffb200 !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n4 + label small {
    background-color: #ff5d00 !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n5 + label small {
    background-color: #b20616 !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n6 + label small {
    background-color: #6f0214 !important;
    color: #FFFFFF !important;
}
.custom-radios input[type="radio"]:checked.n0 + label span{
    background-color: #14994c;
}
.custom-radios input[type="radio"]:checked.n1 + label span {
    background-color: #2ecc71;
}
.custom-radios input[type="radio"]:checked.n2 + label span {
    background-color: #1ae16e;
}
.custom-radios input[type="radio"]:checked.n3 + label span {
    background-color: #ffb200;
}
.custom-radios input[type="radio"]:checked.n4 + label span {
    background-color: #ff5d00;
}
.custom-radios input[type="radio"]:checked.n5 + label span {
    background-color: #b20616;
}
.custom-radios input[type="radio"]:checked.n6 + label span {
    background-color: #6f0214;
}
.custom-radios input[type="radio"]:checked + label span img {
    opacity: 1;
}
.table-responsive {
    width: 100%;
    overflow-x: auto;
}
.table-merite {
    width: 100%;
    margin-bottom: 1rem;
    border-collapse: collapse;
}
.profiles tbody, .profiles td, .profiles th, .profiles thead, .profiles thead th, .profiles tr {
    padding: 4px 0 6px 0px;
    border-top: solid 1px;
    border-spacing: 2px;
    text-align: center;
    border-color: rgb(94 112 30);
}
.profiles thead {
    border-bottom: solid 1.5px;
}
.profiles td {
    font-size: 14px;
}

.codate tbody, .codate td, .codate th, .codate thead, .codate thead th, .codate tr {
    padding: 4px 0 6px 0px;
    border: solid 1px;
    border-spacing: 2px;
    text-align: center;
    border-color: rgb(94 112 30);
}
.codate thead {
    border-bottom: solid 1.5px;
}
.codate .fs th {
    font-size: 13px;
}

.codate .fix-width th, .codate .fix-width td {
    min-width: 100px;
    width: 100px;
    max-width: 100px;
}

.codate .bg-name {
    min-width: 180px !important;
    width: 180px !important;
    max-width: 180px !important;
    position: sticky;
    z-index: 1;
    left: 0;
    background-color: white;
    border: solid 1px #5e701e;
}

.codate .sticky-b {
    background-color: white;
    bottom: 0;
    position: sticky;
    z-index: 1;
}

.codate .sticky-t {
    background-color: white;
    top: 0;
    position: sticky;
    z-index: 1;
}

.codate.scroll-left {
    position: absolute;
    left: 16%;
    z-index: 3;
    top: 0;
    padding: 2px;
    font-size: 200%;
    display: none;
}

.codate.scroll-right {
    position: absolute;
    right: 2%;
    top: 0;
    z-index: 3;
    padding: 2px;
    font-size: 200%;
    display: none;
}

.codate.table-responsive {
    max-height: 590px;
    overflow-y: auto;
}

.codate.table-merite {
    margin-left: auto;
    margin-right: auto;
}

.tab-mieuxvoter.n0 {
    background-color: #14994c !important;
    color: #FFFFFF !important;
}
.tab-mieuxvoter.n1 {
    background-color: #2ecc71 !important;
    color: #FFFFFF !important;
}
.tab-mieuxvoter.n2 {
    background-color: #1ae16e !important;
    color: #FFFFFF !important;
}
.tab-mieuxvoter.n3 {
    background-color: #ffb200 !important;
    color: #FFFFFF !important;
}
.tab-mieuxvoter.n4 {
    background-color: #ff5d00 !important;
    color: #FFFFFF !important;
}
.tab-mieuxvoter.n5 {
    background-color: #b20616 !important;
    color: #FFFFFF !important;
}
.tab-mieuxvoter.n6 {
    background-color: #6f0214 !important;
    color: #FFFFFF !important;
}

/* Dashboard coform */
.active-view, .aap-breadrumbbtn {
    top: -3px !important;
    position: relative !important;
    padding: 6px 6px 6px 6px !important;
    color: #fff !important;
    background: #7da53d !important;
    border: 0 !important;
    cursor: pointer !important;
    border-radius: 4px !important;
}
@media (max-width: 480px) {
    .codate .bg-name {
        min-width: 80px !important;
        width: 80px !important;
        max-width: 80px !important;
    }
}
@media (min-width:576px){
    .flex-sm-row{
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    .flex-sm-column{
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    .flex-sm-wrap{
        -ms-flex-wrap:wrap!important;
        flex-wrap:wrap!important
    }
}
@media (max-width:575px){
    .flex-xs-row{
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    .flex-xs-column{
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    .flex-xs-wrap{
        -ms-flex-wrap:wrap!important;
        flex-wrap:wrap!important
    }
    .codate .fix-width {
        width: 435px;
    }
}
@media (min-width:768px){
    .flex-md-row{
        -ms-flex-direction:row!important;flex-direction:row!important
    }
    .flex-md-column{
        -ms-flex-direction:column!important;flex-direction:column!important
    }
}
@media (max-width: 768px) {
    .codate .fix-width {
        width: 690px;
    }
}
@media (min-width:992px){
    .flex-lg-row{
        -ms-flex-direction:row!important;
        flex-direction:row!important
    }
    .flex-lg-column{
        -ms-flex-direction:column!important;
        flex-direction:column!important
    }
    .codate .fix-width {
        width: 706px;
    }
}
@media (max-width: 992px) {
    .codate .fix-width {
        width: 706px;
    }
}
