.switchTopButton{
    position: fixed;
    right:-3px;
    font-size: 18px;
    border-radius: 20%;
    z-index:1;
}

#confignav {
    background-color: #fff;
}

.switchTopButton a, .switchTopButton span{
    font-size: 20px
}

#customHeader{
    margin-top: 0px;
}

#costumBanner h1{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.4);
    font-size: 29px;
    bottom: 0px;
    padding: 20px;
}

#costumBanner h1 span{
    color: #eeeeee;
    font-style: italic;
}

#costumBanner img{
    min-width: 100%;
}

.btn-main-menu{
    border-radius: 10px;
    padding: 10px !important;
    color: white;
    cursor: pointer;
    border:3px solid transparent;
    font-size: 1.5em
    /*min-height:100px;*/
}

.btn-main-menuW{
    background: white;
    border:none;
    cursor:text ;
}
.btn-main-menu:hover{
    background-color: white;
}

.btn-main-menuW:hover{
    border:none;
}

@media screen and (min-width: 450px) and (max-width: 1024px) {
    .logoDescription{
        width: 60%;
        margin:auto;
    }
}

@media (max-width: 1024px){
    #customHeader{
        margin-top: -1px;
    }
}

#customHeader #newsstream .loader{
    display: none;
}

.mr-4{
    margin-right: 1em !important;
}

.monTitle{
    border-top: 1px dashed <?php echo @$this->costum["colors"]["pink"]; ?>;
    border-bottom: 1px dashed <?php echo @$this->costum["colors"]["pink"]; ?>;
    /*margin-top: -20px;*/
}
.modal.preview-modal {
    margin: 15vh auto;
    width: 53vw;
    height: 70vh !important;
    max-height: 70vh !important;
    overflow-y: auto !important;
}

.modal.preview-modal .modal-content {
    transition: all 0.3s ease 0s;
}

.modal.preview-modal .modal-header {
    position: sticky;
    top: 0;
}

.modal.preview-modal .modal-body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modal.preview-modal .modal-body .preview-img {
    width: 95%;
}

.p-0 {
    padding: 0;
}

.sw-theme-dots>.nav .nav-link.active {
    color: var(--clr_var) !important;
    cursor: pointer;
    font-family: 'montserrat';
}

.sw-theme-dots>.nav .nav-link.active::after {
    background-color: var(--clr_var) !important;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.3);
}

.sw-theme-dots>.nav .nav-link:hover::after {
    background-color: var(--clr_var) !important;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.3);
}

.sw-theme-dots>.nav .nav-link.disabled:hover::after {
    background-color: #ececec !important;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.3);
    cursor: not-allowed;
}

.sw-theme-dots>.nav .nav-link.active::after {
    border : 8px solid var(--clr_var);
}

.sw-theme-dots>.nav .nav-link:hover::after {
    border : 8px solid var(--clr_var);
}

.sw-theme-dots>.nav .nav-link {
    color: #ededed !important;
    cursor: pointer;
    font-family: 'montserrat';
}

.sw-theme-dots>.nav .nav-link::after {
    background-color: #ededed !important;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,.3);
}

.sw-theme-dots>.nav .nav-link::after {
    border : 8px solid #ededed;
}

.sw-theme-dots>.nav .nav-link>.num {
    color: #fff !important;
    font-family: 'montserrat';
}

.sw-theme-dots>.nav .nav-link> {
    color: #fff !important;
    font-family: 'montserrat';
}

.sw-theme-dots>.nav::before {
    content: none;
}

.sw-theme-dots>.nav .nav-item::before {
    content: " ";
    position: absolute;
    top: 18px;
    left: 0;
    right: 0;
    /*width: 100%;*/
    height: 5px;
    background-color: var(--sw-border-color);
    border-radius: 3px;
    z-index: 1;
    margin-left: 10px;
    margin-right: 10px;
}

.nav-item.active::before {
    background-color: var(--clr_var) !important;
    border-color: var(--clr_var) !important;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.nav-item:hover::before {
    background-color: var(--clr_var) !important;
    border-color: var(--clr_var) !important;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.nav-item.disabled:hover::before {
    background-color: #ececec !important;
    border-color: #ececec !important;
    -webkit-transition: background-color 250ms linear;
    -ms-transition: background-color 250ms linear;
    transition: background-color 250ms linear;
}

.sw-theme-dots>.nav .nav-link:hover::after {
    border : 8px solid var(--clr_var);
}

.sw-theme-dots>.nav .nav-link.disabled:hover::after {
    border : 8px solid #ececec;
    cursor: not-allowed;
}

#coformheader .coformtitle {
    color: #3f4e58 !important;
    font-family: 'montserrat' !important;
    font-size: 25px;
    font-weight: 500 !important;
    text-align: center;
    text-transform: none;
    margin: 50px auto;
}

.div-pulse{
    box-shadow: 0 0 0 0 var(--colortitle);
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.single_evaluate,
.single_task,
.single_funding,
.single_governance {
    position: relative;
    margin-bottom: 40px;
    transition: .3s;
    /*box-shadow: 0 2px 5px 0 rgb(63 78 88), 0 2px 10px 0 rgb(63 78 88);*/
    webkit-box-shadow: 0 1px 6px rgb(0 0 0 / 18%);
    box-shadow: 0 2px 6px rgb(0 0 0 / 18%);
    border-radius: 3px;
    background-color: #ffffff;
}

.single_evaluate img {
    width: 100%;
    /*position: absolute;*/
    min-height: 420px;
    /*-webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);*/
    transition: .3s;
    border: 1px solid #ddd;
    /*border-radius: 5px;*/
    object-fit: cover;
    object-position: center;
}

.single_evaluate .img-contributor {
    width: 50px !important;
    height: 50px !important;
    min-height: 50px !important;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.single_evaluate:hover img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);

}

/* .evaluate_content h4,*/
.single_task h4,
.single_funding h4,
.single_governance h4 {
    font-size: 22px;
    font-weight: 700;
    border-bottom: 1px dashed #3f4e58;
    line-height: 2;
    text-transform: none;
    color: #3f4e58;
}

.evaluate_content>.row {
    border-bottom: 1px dashed #3f4e58;
}

.coFormbody.status {
    font-size: 19px;
    line-height: 2;
    color: #3f4e58;
}

.coFormbody.status span {
    border: solid 2px #555259;
    margin: 3px;
    padding: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.evaluate_content h4 span {
    font-size: 20px;
    font-weight: 800;
    float: right;
    font-style: italic;
    color: #9ebc37;
}

.evaluate_content {
    display: flex;
    flex-direction: column;
}

.evaluate_content p {
    font-weight: 200;
    font-size: 16px;
    letter-spacing: 1px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
}

.evaluate_content .btn-component,
.single_task .btn-component,
.single_funding .btn-component,
.single_governance .btn-component {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.evaluate_content .btn-evaluate,
.single_task .btn-participate,
.single_funding .btn-financing,
.single_governance .btn-opinion {
    color: white;
    background-color: #93C020;
    border-color: #93C020;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    padding: 6px 25px;
}

.portfolio-modal .form-chooser {
    border: 1px solid #80808033;
    border-radius: 4px;
}

.portfolio-modal .form-chooser a {
    cursor: pointer;
    text-decoration: none;
}

.portfolio-modal .form-chooser:hover {
    box-shadow: 1px 0px 3px #2c232357;
}


/*TACHE*/

.single_task h4 span,
.single_funding h4 span,
.single_governance h4 span {
    font-size: 24px;
    font-weight: 800;
    float: right;
    color: #3f4e58;
}

.task-row {
    padding: 15px;
}

/*checkbox*/
/*.single_task .input_wrapper{
    width: 70px;
    height: 35px;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.single_task .input_wrapper input[type="checkbox"]{
    width: 70px;
    height: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #3f4e58;
    border-radius: 2px;
    position: relative;
    outline: 0;
    -webkit-transition: all .2s;
    transition: all .2s;
}

.single_task .input_wrapper input[type="checkbox"]:after{
    position: absolute;
    content: "";
    top: 3px;
    left: 3px;
    width: 28px;
    height: 28px;
    background: #dfeaec;
    z-index: 2;
    border-radius: 2px;
    -webkit-transition: all .35s;
    transition: all .35s;
}

.single_task .input_wrapper svg{
    position: absolute;
    top: 50%;
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    fill: #fff;
    -webkit-transition: all .35s;
    transition: all .35s;
    z-index: 1;
}

.single_task .input_wrapper .is_checked{
    width: 18px;
    left: 15%;
    -webkit-transform: translateX(190%) translateY(-30%) scale(0);
    transform: translateX(190%) translateY(-30%) scale(0);
}

.single_task .input_wrapper .is_unchecked{
    width: 15px;
    right: 15%;
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

!* Checked State *!
.single_task .input_wrapper input[type="checkbox"]:checked{
    background: #93C020;
}

.single_task .input_wrapper input[type="checkbox"]:checked:after{
    left: calc(100% - 37px);
}

.single_task .input_wrapper input[type="checkbox"]:checked + .is_checked{
    -webkit-transform: translateX(0) translateY(-30%) scale(1);
    transform: translateX(0) translateY(-30%) scale(1);
}

.single_task .input_wrapper input[type="checkbox"]:checked ~ .is_unchecked{
    -webkit-transform: translateX(-190%) translateY(-30%) scale(0);
    transform: translateX(-190%) translateY(-30%) scale(0);
}*/

/* New style checkbox */

/*Default*/
.single_task .input_wrapper {
    padding-left: 20px
}

.single_task .input_wrapper label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
    font-weight: 400;
}

.single_task .input_wrapper label::after,
.single_task .input_wrapper label::before {
    display: inline-block;
    position: absolute;
    left: 0;
    margin-left: -20px
}

.single_task .input_wrapper label::before {
    content: "";
    width: 17px;
    height: 17px;
    border: 1px solid #3f4e58;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border .15s ease-in-out, color .15s ease-in-out;
    -o-transition: border .15s ease-in-out, color .15s ease-in-out;
    transition: border .15s ease-in-out, color .15s ease-in-out
}

.single_task .input_wrapper label::after {
    width: 16px;
    height: 16px;
    top: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555
}

.single_task .input_wrapper input[type=checkbox] {
    opacity: 0
}

.single_task .input_wrapper input[type=checkbox]:focus+label::before {
    outline: none;
}

.single_task .input_wrapper input[type=checkbox]:checked+label::after {
    font-family: FontAwesome;
    content: "\f00c"
}

/* Primary */
.single_task .input_wrapper input[type=checkbox]:checked+label::before {
    background-color: #7da53d;
    border-color: #7da53d
}

.single_task .input_wrapper input[type=checkbox]:checked+label::after {
    color: #fff
}


.single_task .input_wrapper label {
    font-size: 25px;
    height: 35px;
}

.single_task .input_wrapper label::before {
    width: 30px;
    height: 30px;
}

.single_task .input_wrapper label::after,
.single_task .input_wrapper label::before {
    margin-left: -30px
}

.single_task .input_wrapper label::after {
    width: 30px;
    height: 30px;
    top: 0;
    padding-left: 4px;
    padding-top: 0px;
    font-size: 22px;
}

.xl {
    margin-top: 50px;
}

.xl legend {
    font-size: 25px;
}

/* TABLE */
.single_task .align-items-center {
    align-items: center !important;
    text-align: center;
}

.single_task .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.single_task .table th,
.single_task .table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.single_task .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.single_task .table tbody+tbody {
    border-top: 2px solid #e9ecef;
}

.single_task .table .table {
    background-color: #f8f9fe;
}

.single_task .table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.single_task .table thead th {
    font-size: .65rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
}

.single_task .table th {
    font-weight: 600;
}

.single_task .table td,
.single_task .table th {
    font-size: .8125rem;
    white-space: nowrap;
}

.single_task .table.align-items-center td,
.single_task .table.align-items-center th {
    vertical-align: middle;
}

.single_task .table .thead-dark th {
    color: #4d7bca;
    background-color: #1c345d;
}

.single_task .table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
}

.single_task .table-flush td,
.single_task .table-flush th {
    border-right: 0;
    border-left: 0;
}

.single_task .table-flush tbody tr:first-child td,
.single_task .table-flush tbody tr:first-child th {
    border-top: 0;
}

.single_task .table-flush tbody tr:last-child td,
.single_task .table-flush tbody tr:last-child th {
    border-bottom: 0;
}

.single_task .text-simple,
.single_funding .text-simple,
.single_governance .text-simple {
    font-size: 16px;
    color: #3f4e58;
    line-height: 36px;
}

.single_task .price,
.single_governance .price {
    padding: 10px;
    color: #93C020 !important;
    background-color: #ffffff;
    border-radius: 4px;
}

.single_task .mb-0 {
    margin-bottom: 0 !important;
}

.single_task .media-body,
.single_funding .media-body {
    flex: 1 1;
    width: auto;
}

.single_task .media,
.single_funding .media {
    display: flex;
}

.single_funding .media {
    padding-top: 15px;
}

.single_task .line-dark,
.single_funding .line-dark,
.single_governance .line-dark {
    background-color: #eeeeee;
}

.single_task .line-light,
.single_funding .line-light,
.single_governance .line-light {
    background-color: #faf8f8
}

.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 48px;
    height: 48px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.avatar-sm {
    font-size: .875rem;
    width: 36px;
    height: 36px;
}

.avatar-group .avatar {
    position: relative;
    z-index: 2;
    border: 1px solid #93C020;
}

.avatar-group .avatar:hover {
    z-index: 3;
}

.avatar-group .avatar+.avatar {
    margin-left: -1px;
}

.justify-center {
    justify-content: center;
}

/*FINANCEMENT*/

.single_funding h4 span {
    font-size: 24px;
    font-weight: 800;
    float: right;
    color: #3f4e58;
}

.single_funding .valueAbout {
    border-left: 1px solid #dbdbdb;
}


.single_funding .contentInformation {
    border-bottom: 1px solid #dbdbdb;
}

.single_funding .labelAbout span {
    width: 20px;
    padding-right: 5px;
    text-align: -moz-center;
    text-align: center;
    text-align: -webkit-center;
    float: left;
}

.single_funding .labelAbout span i {
    font-size: 14px;
}

.single_funding .md-editor>textarea {
    padding: 10px;
}

.single_funding .descriptiontextarea label {
    margin-left: 10px;
}

.single_funding .progress-bar-success {
    background-color: #93C020;
}

.single_funding .progress-bar-info {
    background-color: #fff;
}

.single_funding .widget {
    width: 100%;
    float: left;
    margin: 0px;
    list-style: none;
    text-decoration: none;
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 1px 1px 0px rgb(0 0 0);
    box-shadow: 0px 1px 1px 0px rgb(0 0 0);
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px 10px;
    /* margin-bottom: 20px; */
    /* min-height: 120px; */
    position: relative;
}

/*.single_funding .widget.widget-black {
    background: #ffffff;
    }*/
.single_funding .widget .widget-title,
.single_funding .widget .widget-subtitle,
.single_funding .widget .widget-int,
.single_funding .widget .widget-big-int {
    width: 100%;
    float: left;
    text-align: center;
}

.single_funding .text-success1 {
    color: green;
}

.single_funding .widget .widget-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 20px;
    text-transform: none;
    margin-top: 0px !important;
}

.widget-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
    line-height: 20px;
    text-transform: none;
    margin-top: 0px !important;
}

.single_funding .labelFunding,
.single_governance .labelGovernance {
    font-size: 16px;
}

/*GOUVERNANCE STYLE*/
.single_governance .progress {
    width: 60px;
    height: 60px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}

.single_governance .progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #ffffff;
    position: absolute;
    top: 0;
    left: 0;
}

.single_governance .progress>span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.single_governance .progress .progress-left {
    left: 0;
}

.single_governance .progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 7px;
    border-style: solid;
    position: absolute;
    top: 0;
    border-color: #93C020;
}

.single_governance .progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.single_governance .progress .progress-right {
    right: 0;
}

.single_governance .progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.single_governance .progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: 300;
}

.single_governance .progress .progress-value div {
    font-size: 15px;
    margin-top: 10px;
}

.single_governance .progress .progress-value span {
    font-size: 15px;
    text-transform: uppercase;
}

.wstextmobile {
    display: none;
}

.sw-toolbar-elm {
    display : none;
}

.coformSectionMenu {
    margin: -40px;
    position: fixed;
    z-index: 9999;
}
.coformSectionMenuSummary {
    position: fixed;
    font-size: 17px;
    text-align: center;
    padding: 5px;
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border: 2px solid #555555;
    border-radius: 4px;
    color: #555555;
    cursor: pointer;
    user-select: none;
    outline: none;
    transition: transform 200ms ease-in-out 0s;
}
.coformSectionMenuSummary::before,
.coformSectionMenuSummary::after {
    position: static;
    top: 0;
    left: 0;
}
.coformSectionMenuSummary::before {
    content: "";
}
.coformSectionMenuSummary::after {
    content: "\f0e8";
    font-family: 'FontAwesome';
    letter-spacing: -1px;
}
.coformSectionMenuSummary:hover {
    transform: scale(1.1);
}
.coformSectionMenuSummary::marker {
    font-size: 0;
}
.coformSectionMenuSummary::-webkit-details-marker {
    display: none;
}
.coformSectionMenu[open] .coformSectionMenuNav {
    animation-name: menuAnim;
}
.coformSectionMenu[open] .coformSectionMenuSummary::before {
    content: "X";
}
.coformSectionMenu[open] .coformSectionMenuSummary::after {
    content: "";
}
.coformSectionMenuNav {
    height: 0;
    width: fit-content;
    border-radius: 4px;
    background-color: #dcdcdc;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    animation: closeMenu 300ms ease-in-out forwards;
}
.coformSectionMenuNav a {
    padding: 12px 24px;
    margin: 0 16px;
    color: #555555;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    text-decoration: none;
    text-align: center;
    transition: filter 200ms linear 0s;
}
.coformSectionMenuNav a:nth-of-type(1) {
    padding-top: 24px;
}
.coformSectionMenuNav a:nth-last-of-type(1) {
    border-bottom: none;
}
.coformSectionMenuNav a:hover {
    filter: brightness(200%);
}

.coformSectionMenu[open]::before {
    animation: fadeMe 300ms linear forwards;
}

.coform-navbar-fixed-top{
    top: 0;
    border-width: 0 0 1px;
    position: fixed;
    z-index: 1030;
}

.coform-nav {
    background-color: #fff;
}

.schu-btn-sticky {
    z-index: 1100 !important;
}

.oblilist-item-text {
    display: block !important;
    width: 98%;
}

.side-tabs-title {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    padding: 0;
    transition: .3s;
}
.comment-modal-aac {
    top: 6vh !important;
    left: auto !important;
    right: 12vw !important;
    height: 85vh !important;
    overflow-x: hidden !important;
}
.comment-modal-aac .title-comment {
    font-size: 14px !important;
    text-transform: none !important;
}
.comment-modal-aac .btn-close-preview {
    margin-top: 10px !important;
}
.comment-modal-aac {
    width: 30vw !important;
}
.coform-chart-container .switch-to-answer, .step-second-container .switch-to-step {
    display: block;
    position: absolute;
    right: 0;
    z-index: 100;
}
.questionList .eval-multi {
    position: absolute;
    right: .5vw;
    z-index: 1;
}
.step-second-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100000;
}

@keyframes menuAnim {
    0% {
        height: 0;
    }
    100% {
        height: 312px;
    }
}
@keyframes fadeMe {
    0% {
        opacity: 0.4;
    }
    100% {
        opacity: 0;
    }
}

@media (max-width: 640px) {
    .sw-theme-dots>.nav .nav-item .wstext {
        display: none;
    }

    .wstextmobile {
        display: block;
        color: var(--clr_var);
        font-size: 18px;
        font-family: 'montserrat';
        text-align: center;
    }
}

@media (max-width: 767px) {
    .evaluate_content h4 {
        font-size: 20px;
    }

    .single_evaluate img {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 0 50%);
        min-height: auto;
    }

    .evaluate_content p {
        font-weight: 200;
        font-size: 14px;
    }

    .evaluate_content .btn-evaluate,
    .single_task .btn-participate,
    .single_funding .btn-financing,
    .single_governance .btn-opinion {
        font-size: 16px;
        padding: 6px 12px;
    }

    .evaluate_content .btn-component,
    .single_task .btn-component,
    .single_funding .btn-component,
    .single_governance .btn-component {
        justify-content: center;
    }

    .sw-theme-dots>.nav .nav-item::before {
        display: none;
    }

    .sw-theme-dots>.nav {
        flex-direction: row !important;
        flex-flow: row wrap;
    }

    .sw-theme-dots>.nav .nav-item:not(.active) .wstext {
        display: none;
    }

    .sw-theme-dots>.nav li.nav-item:not(.active) {
        margin-bottom: 20px;
    }

    #aapcoform {
        padding: 10px 5px;
    }
    #proposition-summary .coform-navbar-fixed-top {
        width: 82%;
    }
    .comment-modal-aac {
        width: 100% !important;
        top: 1vh !important;
        height: 98vh !important;
    }
    .coformstep .coforminput.questionBlock h2 {
        font-size: 28px !important;
    }
}
@media (min-width: 1200px) {
    .coform-visible-lg {
        display : block !important;
    }
    #proposition-summary .coform-navbar-fixed-top {
        width: 18.8rem !important;
    }
    .aap-list-container .schu-sticky {
        width: 18.8rem !important;
    }
    .coform-nav .coform-navbar-fixed-top {
        width: 18.8rem !important;
    }
}
@media (min-width: 768px) {
    #proposition-summary .coform-navbar-fixed-top {
        top: 9.2rem !important;
        width: 70%;
    }
    .coform-nav .coform-navbar-fixed-top {
        width: 83.5%;
    }
    .obldroplist {
        width: 45vw;
        max-width: 45vw;
    }

}

@media (min-width: 804px) {
    #proposition-summary .coform-navbar-fixed-top {
        top: 6rem !important;
        width: 70%;
    }
    .coform-nav .coform-navbar-fixed-top {
        width: 73.5%;
    }
    .aap-list-container .schu-sticky {
        width: 90vw;
    }
}
@media (min-width: 992px) {
    .proposition_list .contain-img-left {
        padding: 15px;
    }
    .coform-nav .coform-navbar-fixed-top {
        width: 89.5%;
    }
}

@media (min-width: 1024px) {
    .obldroplist {
        overflow-y: auto;
        max-height: 78vh;
    }
}

@media (max-width: 767px) {
    .obldroplist {
        width: 90vw;
        max-width: 90vw;
    }
}

@media (max-width: 1023px) {
    .obldroplist {
        overflow-y: auto;
        max-height: 70vh;
    }
}

@media (max-width: 1200px) {
    .section-nav-body {
        width: 100%;
    }
    .aap-list-container .schu-sticky {
        width: 100%;
    }
    .coform-navbar-fixed-top.schu-sticky {
        /* width: 90vw; */
    }
    .coform-nav .schu-sticky {
        /* width: 90%; */
    }
    .schu-sticky {
        background-color: #efefef;
        /* width: 90vw; */
    }
}
.btn-question-comment {
    position: relative;
}
.btn-question-comment .comment-pastil {
    position: absolute;
    display: block;
    top: -5px;
    right: -5px;
    font-size: 11px;
    border-radius: 30%;
    background-color: #5cb85c;
    color: #000;
    padding: 1px 4px;
}
