.settings {
    /* height: 73px;
    float: left;
    background: url(https://s3.postimg.org/bqfooag4z/startific.jpg);
    background-repeat: no-repeat;
    width: 250px;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    font-family: 'Strait', sans-serif; */
    height: 70vh;
    width: 250px;
    margin: 3vh 0px 6vh 8px;
    background-color: white;
}

/* ScrolBar  */
.scrollbar {
    height: 90%;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.scrollbar:hover {
    height: 90%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Scrollbar Style */
#style-1::-webkit-scrollbar-track {
    border-radius: 2px;
}

#style-1::-webkit-scrollbar {
    width: 5px;
    background-color: #F7F7F7;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #BFBFBF;
}

/* Scrollbar End */

.main-menu i {
    font-size: 1em;

}

.main-menu i {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    /* top: 12px; */
    /* font-size: 20px; */

}

.main-menu i img {
    width: 40px;
    height: 40px;
}

.main-menu .st-btn-container {
    position: fixed;
    right: 7.8rem;
    bottom: 2.1rem;
    width: 5.2rem;
    height: 5.2rem;
    background: #9fbd38 !important;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.main-menu:hover,
nav.main-menu.expanded {
    /* width: 250px; */
    overflow: hidden;
    opacity: 1;

}

.main-menu {
    /* background: #F7F7F7; */
    background: transparent;
    /* position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    right: 0;
    width: 13vw;
    overflow: hidden;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
    transform: translateZ(0) scale(1, 1);
    -webkit-transform: translateZ(0) scale(1, 1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
    z-index: 2; */
}

.main-menu>ul {
    margin: 7px 0;

}

.main-menu li {
    position: relative;
    display: block;
    width: 250px;
}

.main-menu li>a {
    position: relative;
    width: 255px;
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
    color: #8a8a8a;
    font-size: 13px;
    text-decoration: none;
    /* -webkit-transform: translateZ(0) scale(1, 1); */
    -webkit-transition: all .14s linear;
    transition: all .14s linear;
    font-family: 'Strait', sans-serif;
    border-top: 1px solid #f2f2f2;

    text-shadow: 1px 1px 1px #fff;
}

.main-menu .nav-icon {
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
}

.main-menu .nav-text {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    width: 190px;
    font-family: 'Titillium Web', sans-serif;
    padding-right: 15px;
}

.no-touch .scrollable.hover {
    overflow-y: hidden;

}

.no-touch .scrollable.hover:hover {
    overflow-y: auto;
    overflow: visible;
}

a:hover,
a:focus {
    text-decoration: none;
    border-left: 0px solid #F7F7F7;
}

nav {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}

nav ul,
nav li {
    outline: 0;
    margin: 0;
    padding: 2px;
    /* text-transform: uppercase; */
}




/* Darker element side menu Start*/


.darkerli {
    background-color: #ededed;
    text-transform: capitalize;
}

.darkerlishadow {
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px 5px 5px -4px rgba(50, 50, 50, 0.55);
}


.darkerlishadowdown {
    background-color: #ededed;
    text-transform: capitalize;
    -webkit-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    -moz-box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
    box-shadow: inset 0px -4px 5px -4px rgba(50, 50, 50, 0.55);
}

/* Darker element side menu End*/




.main-menu li:hover>a,
nav.main-menu li.active>a,
.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
.dashboard-page nav.dashboard-menu ul li.active a {
    color: #fff;
    /* background-color: #00bbbb; */
    background-color: #2c3e50;
    text-shadow: 0px 0px 0px;
}

.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

/* div centre */

#wizardcontainer .questionDraggable i,.coform-stepbody .questionDraggable i {
    font-size: 1em;

}

#wizardcontainer .questionDraggable i,.coform-stepbody .questionDraggable i{
    position: relative;
    display: table-cell;
    width: 55px;
    height: 36px;
    text-align: center;
    /* top: 12px; */
    font-size: 20px;

}

/* #wizardcontainer .questionDraggable i img {
    width: 40px;
    height: 40px;
} */

#wizardcontainer .questionDraggable .clearfix::after,.coform-stepbody .questionDraggable .clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#wizardcontainer .questionList .questionDraggable,.coform-stepbody .questionList .questionDraggable {
    background-color: white !important;
    z-index: 1000000;
    box-shadow: 5px 2px 5px 3px #00000033;
}

#wizardcontainer .questionList .questionDraggable span,.coform-stepbody .questionList .questionDraggable span {
    display: none !important;
}

#wizardcontainer .questionList .questionDraggable #questionDraggableIcon,.coform-stepbody .questionList .questionDraggable #questionDraggableIcon {
    display: none !important;
}

#wizardcontainer .questionList .questionDraggable #questionDraggablePreview,.coform-stepbody .questionList .questionDraggable #questionDraggablePreview  {
    display: block !important;
}

#wizardcontainer .questionList .questionDraggable #questionDraggablePreview,.coform-stepbody .questionList .questionDraggable #questionDraggablePreview {
    width: auto;
    height: auto;
}

.d-none {
    display: none !important;
}