.bg-contain {
    /*background-color: #4ecdc4;*/
    background-position: center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    min-height: 100vh;
    background-size: contain;
}
.contain-offset {
    border: 1px solid #CCCCCC;
    padding: 0;
    min-height: 100px;
    margin-top: 10px;
    padding-bottom: 5px;
    background-color: #fff;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: 5px 5px 10px #000;
    -moz-box-shadow: 5px 5px 10px #000;
    box-shadow: 5px 5px 10px #000;
}
.banner-section {
    padding: 20px;
}
.body-section, .footer-section {
    padding: 30px 15px;
}
.text-body {
    font-size: 20px;
}
.header-title {
    text-transform: none;
    word-wrap: break-word;
    font-size: 48px;
}
.brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.brands__item {
    flex: 0 0 50%;
    list-style: none;
    text-align: center;
}
.brands__item img {
    width: 130px;
    height: 75px;
    object-fit: contain;
    mix-blend-mode: multiply;
}

@media (min-width: 700px) {
    .brands__item {
        flex: 0 0 33.33%;
    }
}

@media (min-width: 1100px) {
    .brands__item {
        flex: 0 0 25%;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .header-title {
        font-size: 17px;
    }
}
@media (max-width: 767px) {
    .header-title {
        font-size: 17px;
    }
    .text-body {
        font-size: 14px;
    }
    .body-section, .footer-section {
        padding: 10px 5px;
    }
}

/* formWizard */
@font-face{
    font-family: "montserrat";
    src: url("<?php echo Yii::app()->getModule("costum")->getAssetsUrl() ?>/font/co/montserrat-regular.woff") format("woff"),
url("<?php echo Yii::app()->getModule("costum")->getAssetsUrl() ?>/font/co/montserrat-regular.ttf") format("ttf")
}.mst{font-family: 'montserrat'!important;}

@font-face{
    font-family: "CoveredByYourGrace";
    src: url("<?php echo Yii::app()->getModule("costum")->getAssetsUrl() ?>/font/co/CoveredByYourGrace.ttf")
}.cbyg{font-family: 'CoveredByYourGrace'!important;}


.switchTopButton{
    position: fixed;
    /*padding: 5px;*/
    right:-3px;
    font-size: 18px;

    border-radius: 20%;
    z-index:1;
}

.switchTopButton a, .switchTopButton span{
    font-size: 20px
}


#customHeader{
    margin-top: 0px;
}
#costumBanner{
    /* max-height: 375px; */
}
#costumBanner h1{
    position: absolute;
    color: white;
    background-color: rgba(0,0,0,0.4);
    font-size: 29px;
    bottom: 0px;
    padding: 20px;
}
#costumBanner h1 span{
    color: #eeeeee;
    font-style: italic;
}
#costumBanner img{
    min-width: 100%;
}
.btn-main-menu{
    background: <?php echo @$this->costum["colors"]["pink"]; ?>;
    border-radius: 10px;
    padding: 10px !important;
    color: white;
    cursor: pointer;
    border:3px solid transparent;
    font-size: 1.5em
    /*min-height:100px;*/
}
.btn-main-menuW{
    background: white;
    color: <?php echo @$this->costum["colors"]["pink"]; ?>;
    border:none;
    cursor:text ;
}
.btn-main-menu:hover{
    border:2px solid <?php echo @$this->costum["colors"]["pink"]; ?>;
    background-color: white;
    color: <?php echo @$this->costum["colors"]["pink"]; ?>;
}
.btn-main-menuW:hover{
    border:none;
}
@media screen and (min-width: 450px) and (max-width: 1024px) {
    .logoDescription{
        width: 60%;
        margin:auto;
    }
}

@media (max-width: 1024px){
    #customHeader{
        margin-top: -1px;
    }
}
#customHeader #newsstream .loader{
    display: none;
}

.mr-4{
    margin-right: 1em !important;
}
.monTitle{
    border-top: 1px dashed <?php echo @$this->costum["colors"]["pink"]; ?>;
    border-bottom: 1px dashed <?php echo @$this->costum["colors"]["pink"]; ?>;
    /*margin-top: -20px;*/
}

#btn-copylink {
    height: 0px;
    width: 40px;
    position: fixed;
    right: 0;
    top: 20%;
    z-index: 1000;
    /*transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
}
#btn-copylink a {
    display: block;
    background:#00495d;
    height: 40px;
    padding-top: 7px;
    /*width: 155px;*/
    text-align: center;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#btn-copylink a:hover {
    background:#00495d;
}

.resumemodalul{
    max-height: 250px;
    overflow-y: scroll;
}
