@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
.aapdashboard .aaptiles3{
/*margin: 5px;*/
padding-top: 10px;
min-height: 120px;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
border-radius: 10px;
}

.aapdashboard .aaptilestitles3 {
color: #586355;
font-size: 15px;
text-align: center;
}

.aapdashboard .aapinnertiles3{
background-color: #f6f6fb;
min-height: 50px;
top: 0px;
/*border-radius: 10px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

/*transition: box-shadow 0.3s ease-in-out;*/
}

.actiontask {
padding-top: 20px;
padding-bottom: 20px;
}

.col-md-4.actioninfo {
padding-top: 20px;
padding-bottom: 20px;
background-color: #7da53d;
color: #fff;
border-bottom-left-radius: 10px;
border-top-left-radius: 10px;
}

span.actionname {
font-size: 25px;
font-weight: bold;
}

.taskname{
font-weight: bold;
}

.actioncard {
display: flex;
flex-wrap: wrap;
font-family: 'Muli', sans-serif;
border: 1px solid #dae6da;
margin: 10px;
/*padding: 20px;*/
background-color: #fff;
border-radius: 10px;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.voirbtn {
background-color: #7da53d;
border-radius: 0;
border: 0;
font-weight: bold;
color: #fff;
}

.cogvoirbtn {
background-color: #96d1e0;
border-radius: 0;
border: 0;
font-weight: bold;
color: #fff;
}

.aapdashboard .aapinnertiles1{
background-color: #f6f6fb;
min-height: 50px;
top: 0px;
border-radius: 10px;
/*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

/*transition: box-shadow 0.3s ease-in-out;*/
}

.aapdashboard .aaptiles1{
/*margin: 5px;*/
height: 120px;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
border-radius: 10px;
}

.aapdashboard .aaptilestitles1 {
color: #586355;
font-size: 15px;
text-align: center;
}

.aapdashboard .aaptilestitles2 {
color: #586355;
font-size: 17px;
text-align: center;
}



.aap-styled-table {
border-collapse: collapse;
margin: 25px 0;
font-size: 0.9em;
font-family: sans-serif;
min-width: 400px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.aap-styled-table tr {
/*background-color: #009879;*/
/*color: #ffffff;*/
text-align: left;
}

.aap-styled-table th,
.aap-styled-table td {
padding: 12px 15px;
}

.aap-styled-table tr {
/*border-bottom: 1px solid #dddddd;*/
}

.aap-styled-table tr:nth-of-type(even) {
background-color: #f3f3f3;
}

.aap-styled-table tr:last-of-type {
/*border-bottom: 2px solid #009879;*/
}

.aap-styled-table tr.active-row {
font-weight: bold;
/*color: #009879;*/
}


.aapdashboard {
/*
margin-top: 50px;
*/
}

@media (min-width: 768px) {
.aapdashboard {
display: flex;
flex-wrap: wrap;
}
}



.aapdashboard .aaptilescont{
display: flex;
}

.aapnumtext{
text-align: center;
}

.aapdashboard hr {
border-color: #eee;
color: #2c323c;
margin-top: 10px;
margin-bottom: 10px;
}

.aapdashboard .aapnumbertiles,  .aapdashboard .aapdatetiles,{
font-weight: 300;

display: flex;
-webkit-box-pack: center!important;
-ms-flex-pack: center!important;
justify-content: center!important;
}

.aapdashboard .aapnumbertiles {
font-size: 30px;
text-align: center;
}

.aapdashboard .aapdatetiles {
font-size: 20px;
text-align: center;
}

.aapdashboard .aaptiles{
/*margin: 5px;*/
min-height: 120px;
/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
border-radius: 10px;
}

.aapdashboard .aaptilescont{
padding: 5px;
padding-top: 25px;
}

.aapdashboard .aapinnertiles{
background-color: #f6f6fb;
min-height: 50px;
top: 0px;
border-radius: 10px;
/*box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;*/
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

/*transition: box-shadow 0.3s ease-in-out;*/
}

.aapdashboard .aapevent:hover {
box-shadow: 0 5px 15px rgba(0,0,0,0.3);
cursor: pointer;
}

.aapdashboard .aapicontiles i {
font-size: 50px;

}

.aapdashboard .aaptilestitles {
color: #586355;
font-size: 15px;
}





.survey-item, .ocecodashboardh1 {
box-shadow: 4px 5px 6px 2px rgba(0, 0, 0, 0.2);
}
/* Wrapper */
.wrapperocecobadge {
/*     width: 90%;
max-width: 900px;*/
margin: 3em auto;
text-align: center;
}
/* Badge */
.ocecobadgebadge {
margin: 1.5em 1.5em;
/*width: 5.5em;*/
/*height: 5.5em;*/
/*border-radius: 20%;*/
display: inline-block;
top: 0;
transition: all 0.2s ease;
box-shadow: 4px 5px 6px 2px rgba(0, 0, 0, 0.2);
}
.obrounded {
display: flex;
/*width: 55px;*/
/*height: 55px;*/
background: white;
position: relative;
margin: 10px 10px auto;
z-index: 10;
/*border-radius: 30%;*/
box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.23);
}
.obrounded i.fa {
font-size: 1.5em;
margin: 6px;
color : #606c76
}

.obrounded label {
font-size: 15px;
max-width: none !important;
margin: 6px;
color : #606c76;
}
/* Colors */
.ob-blue {
background: dodgerblue;
color: deepskyblue;
}
.ob-orange {
background: darkorange;
color: orange;
}
.ob-gold {
background: rgba(224, 224, 0, 1);
color: gold;
}
.ob-red {
background: red;
color: red;
}
.ob-purple {
background: mediumpurple;
color: slategray;
}
.ob-green {
background: #e4fae5;
color: #61cd73 !important;
}
.ob-crimson {
background: crimson;
color: firebrick;
}
.ob-steel {
background: steelblue;
color: gold;
}
.ob-pink {
background: hotpink;
color: palevioletred;
}
.ob-rebecca {
background: rebeccapurple;
color: rebeccapurple;
}
.ob-gainsboro {
background: gainsboro;
color: orangered;
}


.oceco-h1 {
font-size: 20px;
}

.tilelabel {
font-weight: bold;
}

#central-container {
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.ocecodashboardh1 {
text-transform: none;
text-align: center;
font-family: 'Raleway', sans-serif;
z-index: 10;
position: inherit;
border: solid 3px #2c3e50;
font-size: 30px;
}

.oceco-gradient {
background: -webkit-linear-gradient(#17ad37, #98ec2d);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}


.oceco-avatar {
color: #fff;
display: inline-flex;
align-items: center;
justify-content: center;
font-size: 1rem;
border-radius: 0.75rem;
width: 34px !important;
height: 34px !important;
font-size: 0.75rem;
transition: all .2s ease-in-out;
}

.oceco-avatar img {
border-radius: 50% !important;
width: 100%;
vertical-align: middle;
}

.oceco-avatar-group .oceco-avatar {
position: relative;
z-index: 2;
border: 2px solid #fff;
border-radius: 50% !important;
}

.oceco-avatar-group .oceco-avatar:hover {
z-index: 3;
}

.oceco-avatar-group .oceco-avatar+.oceco-avatar {
margin-left: -1rem;
}

.ocecotable-list> :not(:last-child)> :last-child>* {
border-bottom-color: #e9ecef;
}

.ocecotable-list {
width: 100%;
}

.ocecotable-th{
font-weight: bold;
font-family: 'Montserrat';
color : #67748e;
text-align: -webkit-center;
padding: 5px;
border-bottom: 1px solid #e9ecef;
}

.ocecotable-tr{
border-bottom: 1px solid #e9ecef;
}

.ocecotable-h-div{
font-weight: bold;
font-family: 'Montserrat';
}

.ocecotable-d-div{
font-weight: bold;
font-family: 'Montserrat';
color : #7e8299;
}

.ocecotable-task-div{
font-weight: bold;
font-family: 'Montserrat';
}

#fi {
padding-top: 0;
}

.myFixedHeightContainer {
height: 200px;
}

.ocecotitle1 {
font-size: 17px;
}

.evopaymentchart {
margin-right: 0 !important;
}

.evopaymentnum {
margin-left: 0 !important;
}


.ocecoval-yellow {
background-color: #fffaca;
}

.ocecoval-green {
background-color: #e4fae5;
}

.ocecoval-black {
background-color: #eee5fe;
}

.ocecoval-items {
margin: 0;
padding: 0;
margin-top: 10px;
}

.ocecoval-item {
text-align: center;
margin-left: 0;
/*background-color: #e4fae5;*/
padding: 0;
position: relative;
box-shadow: 0 2px 1px rgba(170, 170, 170, 0.25);
border-raduis : 5px;
}

.ocecoval-icon {
position: absolute;
top: 0;
right: 0;
border-radius: 100%;
width: 35px;
height: 35px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
line-height: 0;
background-color: #eee5ff!important;
color: black;
}

.ocecoval-desc {
padding: 1px 4px 0 0;
}

/*.ocecocard-desc::before {
background-color: #eee5ff;
}

.ocecocard-desc::before {
content: "";
position: absolute;
width: 4px;
height: calc(100% - 32px);
background-color: #ebedf3;
border-radius: 6px;
top: 40px;
left: 16px;
}*/

.ocecoval-desc .timelinetitle {
font-weight: 600!important;
/*color: #61cd73!important;*/
}

.ocecoval-desc .timelinetext {
color: #46a07a!important;
font-weight: bold !important;
/*padding-bottom: .5rem!important;*/
margin-top: 0;
margin-bottom: 1rem;
font-size: 18px !important;
}



.overflowsc {
overflow-y: scroll;
}


.ocecocard-items {
margin: 0;
padding: 0;
margin-top: 10px;
}

.ocecocard-item {
margin-left: 0;
padding: 0;
position: relative;
}

.ocecocard-icon {
position: absolute;
top: 0;
/*border-radius: 100%;*/
width: 35px;
height: 35px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
line-height: 0;
/*background-color: #61cd73!important;*/
color: white;
}

.ocecocard-desc {
padding: 9px 0 0 44px;
}

/*.ocecocard-desc::before {
background-color: #eee5ff;
}

.ocecocard-desc::before {
content: "";
position: absolute;
width: 4px;
height: calc(100% - 32px);
background-color: #ebedf3;
border-radius: 6px;
top: 40px;
left: 16px;
}*/

.ocecocard-desc .timelinetitle {
font-weight: 600!important;
/*color: #61cd73!important;*/
}

.ocecocard-desc .timelinetext {
color: #7e8299!important;
font-weight: 400!important;
padding-bottom: .5rem!important;
margin-top: 0;
margin-bottom: 1rem;
font-size: 14px;
}


.ocecotimeline-items {
margin: 0;
padding: 0;
margin-top: 10px;
}

.ocecotimeline-item {
margin-left: 0;
padding: 0;
position: relative;
}

.ocecotimeline-icon {
position: absolute;
top: 0;
border-radius: 100%;
width: 35px;
height: 35px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
line-height: 0;
background-color: #61cd73!important;
color: white;
}

.ocecotimeline-desc {
padding: 9px 0 0 44px;
}

.ocecotimeline-desc::before {
background-color: #eee5ff;
}

.ocecotimeline-desc::before {
content: "";
position: absolute;
width: 4px;
height: calc(100% - 32px);
background-color: #ebedf3;
border-radius: 6px;
top: 40px;
left: 16px;
}

.ocecotimeline-desc .timelinetitle {
font-weight: 600!important;
/*color: #61cd73!important;*/
}

.ocecotimeline-desc .timelinetext {
color: #7e8299!important;
font-weight: 400!important;
padding-bottom: .5rem!important;
margin-top: 0;
margin-bottom: 1rem;
font-size: 14px;
}

.ocecoform-body{
background-color: #ebebeb;
font-family: 'Raleway', sans-serif;
}

.ocecoform-body .tilelabel{
font-weight: bold !important;
}

.squareTile{
width: 20%;
height: 190px !important;
}

.squareTileL{
width: 20%;
height: 260px !important;
}

.headerTile{
width: 70%;
height: 190px !important;
}

.flex1{
flex: 1!important;
}

.flex2{
flex: 2!important;
}

.flex5{
flex: 5!important;
}

.flex6{
flex: 6!important;
}

.flex8{
flex: 8!important;
}

.flex3{
flex: 3!important;
}

.flex4{
flex: 4!important;
}


.ocecotitle{
display : flex;
-webkit-box-pack: center!important;
-ms-flex-pack: center!important;
justify-content: center!important;
}

.pdt15{
padding-top: 25px;
}

.outeroceco {
position: relative;
}
canvas {
position: absolute;
}
.ocecopercent {
position: absolute;
left: 50%;
transform: translate(-50%, 0);
font-size: 20px;
font-weight: bold;
top: 60%;
/*bottom: 0px;*/
}
.progress {
border-radius: 20px;
}
.progress-bar-d {
background-color: #61cd73;
}
.dividerT {
width: 1px;
margin: 6px 0;
background: #dddddd;
}

.divitemheader{
display: flex;
flex-direction: row;
flex: 1;
}

.itemheaderTile {
flex: 1 auto;
display: flex;
flex-direction: column;
padding-top: 15px;
}

.ocecotitle i{
font-size: 50px;
}

.ocecotitle .apercu {
background-color: transparent;
border: 0px solid grey;
border-radius: 3px;
}

.apercu i {
font-size: 15px !important ;
}

.ocecotitle.step{
font-size: 20px;
font-weight: bold;
}

.ocecotitle.step2{
font-size: 17px;
font-weight: bold;
}

.ocecotitle.step3{
font-size: 25px;
font-weight: bold;
}

.ocecotitle .state{
font-size: 15px;
}

.ocecotitle i.success, .ocecotitle .state.success{
color: #61cd73;
}

.ocecotitle i.warning, .ocecotitle .state.warning{
color: #ecb22f;
}

.ocecotitle i.info{
color: #61cd73;
}

.ocecotitle i.warning{
color: #ecb22f;
}

.fifi{
height: 50px;
width: 100px;
}

.fifi .ocecoouter{
position: relative !important;
}

.ocecopercentfi {
position: absolute;
left: 50%;
transform: translate(-50%, 0);
font-size: 15px;
font-weight: bold;
top: 12px;
/*bottom: 0px;*/
}

.successSquare{
background-color: #e5ffe5;
}

.dangerSquare{
background-color: #f1e1c9;
}

.itemheaderTileI {
padding-top: 10px !important;
}

.ocecotable-task-div{
margin-left: 6px;
}

.actiondropdown .dropdown-menu {
    right: 0;
    left: auto;
    top: 30px;
}

.actiondropdown .dropdown-menu-item {
    padding : 10px;
}

.actiondropdown .actionnumber {
    margin-left: 10px;
    padding: 0px 10px;
    border-radius: 5px;
    border-color: #7da53d !important;
    border: 2px solid;
}
