.taskdone{
    color: #2db67e;
}

.tasktodo{
    color: #ecb22f;
}

.tododialog .modal-content, .validatedialog .modal-content, .paydialog .modal-content, .workerdialog .modal-content, .financerdialog .modal-content, .estimatedialog .modal-content, .payfidialog .modal-content{
    /*background-color: #f2f2f2;*/
    /*border-radius: 20px;*/
    /*background-color: #dae1e7;*/
    border-radius: 0px;
    border-width: 0px;
}

.financerdialog .fi-name {
    width: 45%;
    margin: 1em 1% 1em 3%;
}

.workerdialog .su-worker {
    width: 65%;
    margin: 1em 1% 1em 3%;
}

.workerdialog .su-btn {
    width: 25%;
    margin: 1em 1% 1em 3%;
}

.workerdialog .su-wtype {
    width: 95%;
    margin: 1em 1% 1em 3%;
}

.financerdialog .fi-financer {
    width: 95%;
    margin: 1em 1% 1em 3%;
}

.financerdialog .fi-mail {
    width: 45%;
    margin: 1em 1% 1em 3%;
}

.financerdialog .fi-fond, .financerdialog .fi-montant, .estimatedialog .e-price, .estimatedialog .e-days {
    width: 45%;
    margin: 1em 1% 1em 3%;
}

.label-esti {
    width: 45%;
    margin: 1em 1% 0em 3%;
}


/*.financerdialog .modal-content .mainc{
    height: 70px;
}*/

.validatedialog .modal-content .mainc{
    height: 70px;
}

.paydialog .modal-content .mainc{
    height: 115px;
}

.workerdialog .modal-content .mainc{
    min-height: 115px;
}

.validatedialog .todoinput, .paydialog .todoinput, {
    width: 90% !important;
}

#switchcom div{
    margin: 1em 3%;
}

#switchcom button{
    border-color: #ececec;
    border-width: 2px;
}

.switchcombtn.active {
    background-color: #ececec;
}

.tododialog h1, .validatedialog h1, .paydialog h1, .workerdialog h1 , .financerdialog h1, .estimatedialog h1, .payfidialog h1{
    color: #3d8d71;
    font-size: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
    text-transform: initial;
}

.tododialog #todos-list, .financerdialog #financer-list, .estimatedialog #estimate-list {
    list-style: none;
    overflow-y: scroll;
    max-height: 250px;
}

.tododialog #todos-list li, .financerdialog #financer-list li, .estimatedialog #estimate-list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff;
    justify-content: space-between!important;
    display: flex!important;
}

.tododialog #todos-list .todo-content, .financerdialog #financer-list .todo-content {
    align-items: center!important;
    flex-direction: row!important;
    display: flex!important;
}

.todo-btn {
    align-items: center!important;
    flex-direction: row!important;
    display: flex!important;
}

.esti-btn {
    align-items: center!important;
    flex-direction: column!important;
    display: flex!important;
}

.esti-btn button {
    border-width: 0;
    background-color: #fff;
    border-radius: 3px;
}

.esti-btn button.estibtnedit {
    color: #5f9ea0;
}

.esti-btn button.estibtndelete {
    color: #866a6a;
}

.esti-btn span {
    width: -webkit-fill-available;
    border-bottom: 1px solid #cccccc;
}

.tododialog #todos-list .todo-content .td-title, .financerdialog #financer-list .todo-content .td-title, .estimatedialog #estimate-list .todo-content .td-title {
    margin-left: .5rem!important;
    border-left: solid 2px green;
    padding-left: 10px;
}

.tododialog #todos-list .todo-content .checkicon {
    color: green;
    font-size: 19px;
}

.tododialog #todos-list .todo-content .td-datetime, .financerdialog #financer-list .todo-content .td-datetime, .estimatedialog #estimate-list .todo-content .td-datetime {
    font-size: 15px;
    color: rgba(0,0,0,.5)!important;
    margin-top: .25rem!important;
    flex-direction: row!important;
    display: flex!important;
}

.tododialog .td-datetimelabel, .financerdialog .td-datetimelabel , .estimatedialog .td-datetimelabel{
    margin-left: .5rem!important;
}

.tododialog .td-datetimelabel2, .financerdialog .td-datetimelabel2, .estimatedialog .td-datetimelabel2 {
    margin-left: 1rem!important;
}

.actionbtntodoedit {
    color: #5f9ea0;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #5f9ea0;
}

.actionbtntododelete {
    color: #866a6a;
    background-color: #fff;
    border-radius: 3px;
    border: solid 1px #866a6a;
}

.containert.newform-todo {
    width: 90%;
    margin: 1.5em auto;
    border-radius: 20px;
    padding-bottom: 2em;
    transition: .5s;
    -webkit-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
}

#containerv.new-form-validate-work {
    width: 90%;
    margin: 1.5em auto;
    border-radius: 20px;
    padding-bottom: 2em;
    transition: .5s;
    -webkit-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 9px 40px 0px rgba(0,0,0,0.35);
}


.newform-todo h1 {
    font-size: 2.5em;
    padding-top: .5em;
    padding-bottom: .5em;
    text-align: center;
}

.todoinput{
    /*width: 90%;
    !*background-color: #f2f2f2;*!
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    color: #3d8d71;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    !*border-radius: 20px;*!
    border-radius: 0px;
    background-color: #fafafa;
    padding: .5em;
    outline: none;
    border: 2px solid #ececec;
    transition: .7s;*/
}

.todoinput:focus {
    /* color: #3d8d71;
     background-color: #fafafa;
     border: 2px solid #3d8d71;*/
}
.todoinput::-webkit-input-placeholder {
    /*color: #ececec;*/
}
.todoinput::-moz-placeholder {
    /*color: #ececec;*/
}
.todoinput:-moz-placeholder {
    /*color: #ececec;*/
}
.todoinput:-ms-input-placeholder {
    /*color: #ececec;*/
}

#add-button, #modif-button {
    width: 100px;
    background-color: #3d8d71;
    display: block;
    margin: 1em auto;
    /*color:  #f2f2f2;*/
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 900;
    outline: none;
    border-radius: 18px;
    padding: .5em;
    border: 1px solid #3d8d71;
    cursor: pointer;
    transition: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
}

.tododialog #add-tododesc .duedate, .financerdialog #add-tododesc .duedate {
    line-height: initial !important;
}

#add-button:hover, #modif-button:hover {
    cursor: pointer;
    background-color: #ff5729;
    border: 1px solid #ff5729;
}

#single-line {
    margin-top: 2em;
    background-color: #ececec;
    height: 1px;
    width: 100%;
}

.newform-todo ul li {
    padding: .75em .5em .75em .5em;
    position: relative;
    transition: .5s;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ececec;
}

.newform-todo ul li:hover {
    background-color: #3d8d71;
    color: #00585e;
}
.newform-todo ul li .text-wrap {
    display: block;
    margin-right: 3.5em;
    margin-left: 1.75em;
}
.newform-todo .not-done {
    position: absolute;
    left: 0;
    top: 0;
    padding: .75em .5em;
}
.newform-todo .not-done:hover {
    color: #fafafa;
    cursor: pointer;
}
.newform-todo .done {
    text-decoration: line-through;
    color: #ececec;
}
.newform-todo .fa-check-circle {
    color: #ececec;
}
.newform-todo .delete {
    position: absolute;
    right: 0;
    top: 0;
    padding: .75em .5em;
}
.newform-todo .delete:hover {
    color: #fafafa;
    cursor: pointer;
}
.newform-todo .edit {
    position: absolute;
    right: 1.8em;
    top: 0;
    padding: .75em .5em;
}
.newform-todo .edit:hover {
    color: #fafafa;
    cursor: pointer;
}
.newform-todo .in-edit {
    color: #ff5729;
}
.newform-todo .in-edit:hover {
    color: #ff5729;
}
.newform-todo .editable {
    color: #ff5729;
    background-color: #fafafa;
}

@media screen and (max-width: 800px) {
    .ocecowebview {
        display: none;
    }

    .todoinput{
        width: 90% !important;
        margin: 1em 3% !important;
    }

    .label-mobi{
        margin-left: 3%;
    }
}

@media screen and (min-width: 800px) {
    .label-mobi {
        display: none;
    }

    .todoinput{
        width: 90%;
        float: left;
        margin: 1em 3%;
    }
    #add-button, #modif-button {
        width: 20%;
        float: left;
    }
    .newform-todo .show-todos {
        float: left;
        width: 20%;
        margin-left: 10%;
    }

    .tododialog #add-tododescr, .financerdialog #add-tododescr {
        display: flex;
    }


    .tododialog .duedate,.tododialog .taskname ,.tododialog .credit,.tododialog .member {
        width: 45%;
        margin: 1em 1% 1em 3%;
    }

    .tododialog #add-tododesc .member, .financerdialog #add-tododesc .member {
        width: 35%;
        margin: 1em 3% 1em 1.5%;
    }

    .tododialog #add-todo .credit, .financerdialog #add-todo .credit {
        width: 20%;
        margin: 1em 0% 1em 0;
    }
}

@media screen and (min-width: 1024px) {
    #container.newform-todo {
        width: 960px;
    }
}

.selectMultiple {
    /*width: 240px;*/
    position: relative;
    padding: 0 !important;
}
.selectMultiple select {
    display: none;
}
.selectMultiple > div {
    position: relative;
    z-index: 1;
    /*padding: 8px 12px 2px 12px;
    border-radius: 8px;*/
    border-radius: 20px;
    height: 36px;
    background: #fff;
    font-size: 14px;
    /*min-height: 44px;*/
    box-shadow: 0 4px 16px 0 rgba(22, 42, 90, .12);
    transition: box-shadow 0.3s ease;
}
.selectMultiple > div:hover {
    box-shadow: 0 4px 24px -1px rgba(22, 42, 90, .16);
}
.selectMultiple > div .arrow {
    right: 1px;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
    position: absolute;
}
.selectMultiple > div .arrow:before, .selectMultiple > div .arrow:after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-bottom: 8px solid #99a3ba;
    top: 43%;
    transition: all 0.3s ease;
}
.selectMultiple > div .arrow:before {
    right: 12px;
    transform: rotate(-130deg);
}
.selectMultiple > div .arrow:after {
    left: 9px;
    transform: rotate(130deg);
}
.selectMultiple > div span {
    color: #99a3ba;
    /*	 display: block;
         position: absolute;
         left: 12px;
         cursor: pointer;
         top: 8px;
         line-height: 28px;*/
    transition: all 0.3s ease;

    top: 50%;
    position: absolute;
    transform: translate(0, -50%);
}
.selectMultiple > div span.hide {
    opacity: 0;
    visibility: hidden;
    transform: translate(-4px, 0);
}
.selectMultiple > div a {
    position: relative;
    padding: 6px 24px 6px 8px;
    line-height: 28px;
    color: #1e2330;
    display: inline-block;
    vertical-align: top;
    margin: 0 6px 0 0;
}
.selectMultiple > div a em {
    font-style: normal;
    display: block;
    white-space: nowrap;
}
.selectMultiple > div a:before {
    content: '';
    left: 6px;
    top: 4px;
    bottom: 6px;
    width: 100%;
    position: absolute;
    display: block;
    background: rgba(228, 236, 250, .7);
    z-index: -1;
    border-radius: 4px;
}
.selectMultiple > div a i {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 28px;
    display: block;
}
.selectMultiple > div a i:before, .selectMultiple > div a i:after {
    content: '';
    display: block;
    width: 2px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    background: #4d18ff;
    border-radius: 1px;
}
.selectMultiple > div a i:before {
    transform: translate(-50%, -50%) rotate(45deg);
}
.selectMultiple > div a i:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}
.selectMultiple > div a.notShown {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.selectMultiple > div a.notShown:before {
    width: 28px;
    transition: width 0.45s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0.2s;
}
.selectMultiple > div a.notShown i {
    opacity: 0;
    transition: all 0.3s ease 0.3s;
}
.selectMultiple > div a.notShown em {
    opacity: 0;
    transform: translate(-6px, 0);
    transition: all 0.4s ease 0.3s;
}
.selectMultiple > div a.notShown.shown {
    opacity: 1;
}
.selectMultiple > div a.notShown.shown:before {
    width: 100%;
}
.selectMultiple > div a.notShown.shown i {
    opacity: 1;
}
.selectMultiple > div a.notShown.shown em {
    opacity: 1;
    transform: translate(0, 0);
}
.selectMultiple > div a.remove:before {
    width: 28px;
    transition: width 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44) 0s;
}
.selectMultiple > div a.remove i {
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.selectMultiple > div a.remove em {
    opacity: 0;
    transform: translate(-12px, 0);
    transition: all 0.4s ease 0s;
}
.selectMultiple > div a.remove.disappear {
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}
.selectMultiple > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 16px;
    z-index: 2;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: 8px;
    transform: translate(0, 20px) scale(0.8);
    transform-origin: 0 0;
    filter: drop-shadow(0 12px 20px rgba(22, 42, 90, .08));
    transition: all 0.4s ease, transform 0.4s cubic-bezier(0.87, -0.41, 0.19, 1.44), filter 0.3s ease 0.2s;
}
.selectMultiple > ul li {
    color: #1e2330;
    background: #fff;
    padding: 12px 16px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease 0.3s, opacity 0.5s ease 0.3s, border-radius 0.3s ease 0.3s;
}
.selectMultiple > ul li:first-child {
    border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li:first-child:last-child {
    border-radius: 8px;
}
.selectMultiple > ul li:last-child {
    border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li:last-child:first-child {
    border-radius: 8px;
}
.selectMultiple > ul li:hover {
    background: #4d18ff;
    color: #fff;
}
.selectMultiple > ul li:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    background: rgba(0, 0, 0, .4);
    opacity: 0;
    border-radius: 100%;
    transform: scale(1, 1) translate(-50%, -50%);
    transform-origin: 50% 50%;
}
.selectMultiple > ul li.beforeRemove {
    border-radius: 0 0 8px 8px;
}
.selectMultiple > ul li.beforeRemove:first-child {
    border-radius: 8px;
}
.selectMultiple > ul li.afterRemove {
    border-radius: 8px 8px 0 0;
}
.selectMultiple > ul li.afterRemove:last-child {
    border-radius: 8px;
}
.selectMultiple > ul li.remove {
    transform: scale(0);
    opacity: 0;
}
.selectMultiple > ul li.remove:after {
    animation: ripple 0.4s ease-out;
}
.selectMultiple > ul li.notShown {
    display: none;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.35s ease, opacity 0.4s ease;
}
.selectMultiple > ul li.notShown.show {
    transform: scale(1);
    opacity: 1;
}
.selectMultiple.open > div {
    box-shadow: 0 4px 20px -1px rgba(22, 42, 90, .12);
}
.selectMultiple.open > div .arrow:before {
    transform: rotate(-50deg);
}
.selectMultiple.open > div .arrow:after {
    transform: rotate(50deg);
}
.selectMultiple.open > ul {
    transform: translate(0, 12px) scale(1);
    opacity: 1;
    visibility: visible;
    filter: drop-shadow(0 16px 24px rgba(22, 42, 90, .16));
}
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }
    25% {
        transform: scale(30, 30);
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(50, 50);
    }
}

.btnValidateWork, .btnWorker{
    border-radius: 50px;
    padding: 5px;
}

.checkicon{
    cursor: pointer;
}

.ocecotableprogress {
    max-width: 200px;
    margin-bottom: 20px !important;
    height: 15px;
    border-radius: 10px;
    background-color: #dddddd;
}

.ocecotableprogress span{
    position: absolute;
    font-size: 13px;
    font-weight: bold;
}

.depenseoceco .btn-secondary {
    border-color: #2C3E50;
}

.btnValidateWork i , .btnWorker i {
    margin: 3px;
    font-size: 17px;
}

.validationlabel{
    font-size: 12px;
}

.wrapper-validateline {
    --background: #62abff;
    --icon-color: #414856;
    --shape-color-01: #b8cbee;
    --shape-color-02: #7691e8;
    --shape-color-03: #fdd053;
    --width: 90px;
    --height: 90px;
    --border-radius: var(--height);
    width: var(--width);
    height: var(--height);
    position: relative;
    border-radius: var(--border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-validateline .btn-validateline::before, ..wrapper-validateline .btn-validateline::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 4px;
    background: #fff;
}
..wrapper-validateline .btn-validateline::before {
    width: 4px;
    height: 28px;
}
..wrapper-validateline .btn-validateline::after {
    width: 28px;
    height: 4px;
}
.wrapper-validateline .tooltip-validateline {
    width: 90px;
    height: 75px;
    border-radius: 70px;
    position: absolute;
    background-color: #cccccc;
    z-index: 2;
    padding: 0 15px;
    box-shadow: 0 10px 30px rgba(65, 72, 86, 0.05);
    opacity: 0;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: opacity 0.15s ease-in, top 0.15s ease-in, width 0.15s ease-in;
}

.tooltip-validateline div {
    font-size: 12px;
}

.tooltip-validateline div {
    width: 80px;
    /*	display: flex;
        flex-direction: column;
        flex:1;*/
}

.tooltip-validateline div {
    height: 40px;
    /*	display: flex;
        flex-direction: column;
        flex:1;*/
}

.wrapper-validateline .tooltip-validateline > i:hover {
    opacity: 1;
}
.wrapper-validateline .tooltip-validateline::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 3px;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: -8px;
    transform: rotate(45deg);
    z-index: 0;
    background-color: #cccccc;
}

.wrapper-validateline input {
    height: 100%;
    width: 100%;
    border-radius: var(--border-radius);
    cursor: pointer;
    position: absolute;
    z-index: 5;
    opacity: 0;
}

.wrapper-validateline input:checked ~ .btn-validateline {
    animation: plus-animation 0.5s ease-out forwards;
}
.wrapper-validateline input:checked ~ .tooltip-validateline {
    width: 320px;
    height: 80px;
    animation: stretch-animation 1s ease-out forwards 0.15s;
    top: -70px;
    right: 0px;
    opacity: 1;
    background-color: #cccccc;
}

.pr_div table {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.subtodolisttable .tdname {
    display: flex;
}

.subtodolisttable .check {
    display: grid;
    align-content: center;
}

.subtodolisttable .contributors {
    color: #5f5f5d;
    font-size: 13px;
}

.subtodolisttable .task {
    font-weight: bold;
    text-align: center;
    width: 180px;
}

.payed .payedstatus, .workertype {
    color: #607D8B;
    font-size: 13px;
    font-weight: bold;
}

.payed .payedamount {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.payed .payedlabel {
    font-size: 13px;
}