@font-face{
    font-family: "montserrat";
    src: url("../fonts/montserrat-regular/montserrat-regular.woff") format("woff"),
    url("../fonts/montserrat-regular/montserrat-regular.ttf") format("ttf")
    }.mst{font-family: 'montserrat'!important;}

    @font-face{
        font-family: "CoveredByYourGrace";
        src: url("../fonts/montserrat-regular/CoveredByYourGrace.ttf")
    }.cbyg{font-family: 'CoveredByYourGrace'!important;}

.ap-starter-btn-sheet {
    /*margin: 0 10px;*/
    border: 1.7px solid var(--aap-secondary-color);
    width: 100%;
    background-color: #fff;
    color: var(--aap-secondary-color);
    border-radius: 4px 0px 0px 4px;
}

.ap-starter-btn-start-slide{
    border: 1.7px solid var(--aap-primary-color);
}

.ap-starter-btn-close{
    border: 1.7px solid var(--aap-secondary-color);
    border-radius: 0px 4px 4px 0px;
}

.ap-starter-btn-close:hover{
    border-radius: 4px;
}

.ap-starter-btn-sheet:hover{
    border-radius: 4px;
}

.co-popup-slide-finish:before {
    position: absolute;
    content: "";
    top: 0;
    right: -35px;
    width: 88px;
    height: 88px;
    background: var(--aap-primary-color);;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.co-popup-slide-finish:after {
    position: absolute;
    content: "";
    top: 30px;
    right: -35px;
    width: 88px;
    height: 88px;
    background: var(--aap-primary-color);;
    opacity: 0.2;
    border-radius: 8px;
    transform: rotate(45deg);
}

.co-popup-slide-container{
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #e3fced;
    background-image: radial-gradient(at 47% 33%,hsl(0,0%,100%) 0,transparent 59%),radial-gradient(at 82% 65%,hsl(41.63,62%,85%) 0,transparent 55%);
    background-repeat: no-repeat;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    z-index: 9999999;
}

.co-popup-slide {
    min-width: 800px;
    /*min-height: 500px;*/
    background-color: white;
    border-radius: 10px;
    position: relative;
    font-family: "montserrat" !important;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem, rgba(0, 0, 0, 0.05) 0px 1.25rem 1.5625rem -0.3125rem, rgba(0, 0, 0, 0.04) 0px 0.625rem 0.625rem -0.3125rem;
}

input.checkbox-slide-start2:checked + .co-popup-slide {
    border-radius: 20px;
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
}

.co-popup-slide-content , .co-popup-slide-finish {
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
    width: 800px;
    /*height: 500px;*/
}

.co-popup-slide-header {
    padding-top: 20px;
    text-align: center;
}

.co-popup-slide-header h2 {
    font-weight: bold;
}

.co-popup-slide-header p{
    font-size: 16px;
    line-height: 1.8;
}

.co-popup-slide-header p a {
    text-decoration: none;
    font-weight: bold;
    color: #9fbd38;
    text-decoration: underline;
}

.co-popup-slide-actions {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-top: 20px;
}
.co-popup-slide-actions li {
    display: flex;
    margin-bottom: 5px;
    width: 300px;
    height: 50px;
    flex-wrap: no-wrap;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
}

.co-popup-slide-actions li a {
    text-decoration: none;
    padding: 10px 20px;
    color: #2c3e50;
    font-size: 18px;
    align-items: stretch;
    justify-content: center;
}

co-popup-slide-formnav{

}

.co-popup-slide-formnav li {
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: 20px;
    width: 200px;
    height: 50px;
    flex-wrap: no-wrap;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    color: #fff;
}

.co-popup-slide-formnav li.prev {
    background-color: var(--aap-secondary-color);
}

.co-popup-slide-formnav li.next {
    background-color: var(--aap-primary-color);
}

.co-popup-slide-formnav li a {
    text-decoration: none;
    padding: 10px 20px;
    font-size: 18px;
    align-items: stretch;
    justify-content: center;
    color: #fff;
    font-weight: bold;
}

.co-popup-slide-actions li.li-abord-slide a {
    display: flex;
    justify-content: center;
    align-items: center;
    /*transform: skewX(150deg);*/
    transition: all 0.5s;
    cursor: pointer;
    white-space: nowrap;
}

.co-popup-slide-actions li a span {
    padding-right: 10px;
}

.co-popup-slide-actions li:first-child a {
    background-color: #9fbd38;
    color: white;
    font-weight: bold;
}

.co-popup-slide-actions button {
    width: fit-content;
    margin-top: 10px;
    background-color: transparent;
    font-size: 18px;
    color: #2c3e50;
}

.co-popup-slide-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.co-popup-slide-content , .co-popup-slide-finish {
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
    position: relative;
    padding: 20px;
}

.co-popup-slide-particle {
    width: 100%;
    height: 100%;
}

.ap-starter-btn-close , .ap-starter-btn-email , .ap-starter-btn-resume {
    background-color: #2c3e50;
    color: white !important;
    margin-left: 5px;
    width: 100%;
    border-radius: 5px;
    font-weight: 100;
}

.co-popup-slide-header {
    background-color: #fff !important;
}

@media (max-width: 720px) {
    .co-popup-slide-actions {
        flex-direction: column;
    }
}

.co-popup-slide-question .wrapper {
    display:flex;
    flex-direction:column;
}
.co-popup-slide-question .grid-row {
    margin-bottom: 1em
}
.co-popup-slide-question .grid-row, .grid-header {
    display:flex;
    /*   flex: 1 0 auto; */
    /*   height: auto; */
}

.co-popup-slide-question .grid-header {
    align-items: flex-end;
}
.co-popup-slide-question .header-item {
    width:100px;
    text-align:center;
    /*   border:1px solid transparent; */
}
.co-popup-slide-question .header-item:nth-child(1) {
    width:180px;
}
.co-popup-slide-question .subtitle {
    font-size: 0.7em;
}
.co-popup-slide-question .flex-item:before {
    content: '';
    padding-top:26%;
}
.co-popup-slide-question .flex-item {
    display:flex;
    /*   flex-basis:25%; */
    width:100px;
    border-bottom:1px solid #ccc;
    justify-content: center;
    align-items:center;
    /*   text-align:left; */
    font-size: 1em;
    font-weight:normal;
    color:#999;
}
.co-popup-slide-question .flex-item:nth-child(1) {
    border:none;
    font-size:1.15em;
    color:#000;
    width:180px;
    justify-content: left;
}

/*.co-popup-slide-question [type="radio"], .co-popup-slide-question [type="checkbox"] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}*/

.co-popup-slide-question  label {
    /*display: block;*/
    cursor: pointer;
}

/*.co-popup-slide-question [type="radio"] + span:before{
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.25em;
    border-radius: 20%;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #555;
    transition: 0.5s ease all;
}

.co-popup-slide-question [type="checkbox"] + span:before{
    content: '';
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.25em;
    border-radius:.25em;
    border: 0.125em solid #fff;
    box-shadow: 0 0 0 0.15em #555;
    transition: 0.5s ease all;
}

.co-popup-slide-question [type="checkbox"] + span:before ,
.co-popup-slide-question [type="radio"] + span:before {
    margin-right: 0.75em;
}

.co-popup-slide-question [type="radio"]:checked + span:before,
.co-popup-slide-question [type="checkbox"]:checked + span:before{
    background: var(--aap-primary-color);
    box-shadow: 0 0 0 0.25em #666;
}

.co-popup-slide-question  [type="radio"]:focus span:after {
    content: '\0020\2190';
    font-size: 1.5em;
    line-height: 1;
    vertical-align: -0.125em;
}*/

.co-popup-slide-question fieldset {
    font-size: 1em;
    border: 2px solid #000;
    padding: 2em;
    border-radius: 0.5em;
    margin-bottom: 20px;
}

.swiper-slide-next {
    display : none !important;
}

.co-popup-slide-menu {
    background-color: transparent;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 0px;
}

.co-popup-slide-projectresume{
    background-color: var(--aap-primary-color);
    height: 76%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    /*text-align: center;*/
    position: relative;
}

.co-popup-slide-question-container {
    /*height: 600px;
    width: 1000px;*/
}

/*preconfig Timeline */
ul.timeline.aap-slideListStepSwipping {
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
    list-style-type: none;
    position: relative;
    padding: 0px;
}
ul.timeline.aap-slideListStepSwipping:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    left: 10px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline.aap-slideListStepSwipping > li {
    margin: 20px 0;
    padding-left: 30px;
    float: none;
}
ul.timeline.aap-slideListStepSwipping > li:before {
    content: ' ';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--aap-primary-color);
    left: 1px;
    width: 18px;
    height: 18px;
    z-index: 400;
}

ul.timeline.aap-slideListStepSwipping > li.active:before {
    content: ' ';
    background: var(--aap-primary-color);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--aap-secondary-dark);
    left: 1px;
    width: 18px;
    height: 18px;
    z-index: 400;
}


.timeline.aap-slideListStepSwipping > li .name-step {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    text-align: left;
}
.timeline.aap-slideListStepSwipping > li > p {
    font-size: 14px;
    color: #eee;
    grid-template-rows: min-content 1fr;
}
.timeline.aap-slideListStepSwipping > li > hr {
    width: 100%;
    margin-bottom: 0px;
}
.aap-slidecontain-info-costum {
    margin-top: 30px;
    margin-bottom: 30px;
}
.aap-slidecontain-info-costum img.logo-info {
    width: 75px;
    height: 75px;
    border: solid 2px rgba(255, 255, 255);
    border-radius: 50%;
}
.aap-slidecontain-info-costum .title-info , .co-popup-slide-projectresume .title-info{
    font-size: 18px;
    color: #fff;
    border-bottom: 1px solid #fff;
    text-align: left;
    padding: 10px 0px 10px 20px;
}

.co-popup-slide-question .swiper-slide-:not(:last-child){
    visibility: hidden;
}

.co-popup-slide-question .swiper-slide-:not(:last-child) div{
    display: none;
}

.li-start-slide{
    background-color : var(--aap-primary-color);
    border-radius: 5px;
}

/*input.checkbox-slide-start:checked + div div + div ul .li-start-slide {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    width: 100%;
    left: 0;
    height: 100%;
    margin-top: 0px;
}*/

.li-start-slide {
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
    width: 300px;
    left: 0;
    height: 100%;
    justify-content: center;
    border : 1.7px;
}

input.checkbox-slide-start:checked + div div + div ul .li-abord-slide,
input.checkbox-slide-start:checked + div div + div ul .li-sheet-slide
{
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    width: 0%;
    opacity: 0;
}

.li-abord-slide {
    width: 300px !important;
    margin: 0 20px;
}

input.checkbox-slide-start:checked + div.co-popup-slide-content {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
/*    width: 1000px;
    height: 600px;*/
    padding: 0;
    /*oop*/
    opacity: 0;
}

input.checkbox-slide-start:checked + div div + div ul .li-start-slide a ,
input.checkbox-slide-start:checked + div div + div ul .li-abord-slide ,
input.checkbox-slide-start:checked + div div + div ul .li-sheet-slide ,
input.checkbox-slide-start:checked + div div .co-popup-slide-header-h2 ,
input.checkbox-slide-start:checked + div div .co-popup-slide-header-h4 ,
input.checkbox-slide-start:checked + div div .co-popup-slide-header-p,
input.checkbox-slide-start:checked + div div .progress,
input.checkbox-slide-start:checked + div div .statboard
{
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    opacity: 0;
}

input.checkbox-slide-start:checked + div div .co-popup-slide-header-logo
{
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    float: left;
    margin-left: 130px;
    /*oop*/
    opacity: 0;
}

.li-start-slide ,
.li-abord-slide ,
.li-sheet-slide,
.co-popup-slide-header-h2 ,
.co-popup-slide-header-h4 ,
.co-popup-slide-header-p
{
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
    opacity: 1;
    font-weight: 100;
}

input.checkbox-slide-start:checked + div div + div .co-popup-slide-actions {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    width: 33.33333333%;
    left: 0;
    height: 70%;
    margin : 0;
    background-color: var(--aap-primary-color);
    /*oop*/
    opacity: 0;
}

input.checkbox-slide-start:checked + div div + div.co-popup-slide-header-action {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    height: 100%;
}

co-popup-slide-header-action {
    height: 45px;
}

input.checkbox-slide-start:checked + div div.co-popup-slide-header {
    transition: all 0.7s cubic-bezier(0.5, 0.005, 0.075, 0.985);
    background-color: transparent !important;
    position: absolute;
}

.co-popup-slide-actions {
    transition: all 0.7s 0.3s cubic-bezier(0.5, 0.005, 0.075, 0.985), transform 0.1s 0.7s, -webkit-transform 0.1s;
    width: 100%;
    left: 0;
    height: 100%;
}

.co-popup-slide-header-logo img.logo-info {
    width: 75px;
    height: 75px;
    border: solid 2px var(--aap-primary-color);
    border-radius: 50%;
}

.co-popup-slide-menu img.logo-info {
    width: 50px;
    height: 50px;
    border: solid 2px var(--aap-primary-color);
    border-radius: 50%;
}

.co-popup-slide-menu legend {
    font-size: 25px;
}

.co-popup-slide-center {
    margin: 0;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.swiper-slide .wrapper {
    padding: 20px 50px;
    text-align: left;
}

.co-popup-slide-title {
    font-size: 25px;
    font-weight: 100;
    color : var(--aap-secondary-dark)
}

.co-popup-slide-subtitle {
    font-size: 15px;
    font-weight: 100;
    color : #000
}

.preconfig-info-has-tooltip:hover .preconfig-info-tooltip,
.preconfig-info-has-tooltip:focus .preconfig-info-tooltip,
.preconfig-info-has-tooltip.hover .preconfig-info-tooltip {
    opacity: 1;
rotate(0deg);
    pointer-events: inherit;
}

.preconfig-info-tooltip {
    display: block;
    position: absolute;
    padding: 10px 30px;
    border-radius: 5px;
    background: var(--aap-primary-color);
    text-align: center;
    color: white;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    bottom : 30%;
    transform: translate(-50%, 0px);
}

.preconfig-info-tooltip:hover {
    opacity: 1;
    pointer-events: inherit; }
.preconfig-info-tooltip img {
    max-height: 200px;
}
.preconfig-info-tooltip:after {
    content: '';
    display: block;
    margin: 0 auto;
    widtH: 0;
    height: 0;
    border: 2px solid transparent;
    border-top: 5px solid rgba(0, 0, 0, 0.75);
    position: absolute;
    left : 50%;
}

.aap-primary-color{
    color: #9BC125;
}

.aap-secondary-color{
    color: #3F4E58;
}

h3.co-popup-slide-title.aap-primary-color{
    text-transform: none;
    font-size: 30px;
    margin-top: 10px;
}

.co-popup-slide-header-h4.co-popup-slide-subtitle.aap-secondary-color {
    font-size: 18px;
    font-weight: 100;
    margin-top: 10px;
    max-height: 60px;
    overflow: hidden;
}

.co-popup-slide-header .progress, .co-popup-slide-header .progress-bar {
    border-radius: 15px;
    height: 15px;
}

.co-popup-slide-header .row .col-md-4.col-sm-12:not(:last-child){
    border-right: 3px solid #91a8b2;
}

.slide-fin-percent{
    font-size: 20px;
}

.co-popup-slide-projectresume .ap-starter-btn-close{
    bottom: -10px;
    width: 150px;
    border-radius: 15px;
    margin-left: -75px;
    left: 50%;
    position: absolute;
}

legend {
    margin: 0px 0px 10px 0px;
    padding : 10px;
    padding-left: 40px;
}

.co-popup-slide-projectresume .carddesc{
    height: inherit;
}

.co-popup-slide-projectresume .bottomdesc{
    padding-bottom: 40px;
    position: absolute;
    bottom: 0;
}

.co-popup-slide-projectresume .title-projectname{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

.co-popup-slide-projectresume .title-projectdesc{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
}

.co-popup-slide-projectresume .title-percent{
    font-size: 75px;
    font-weight: 100;
    margin-left: 20px;
}

.co-popup-slide-projectresume .title-cardpercent{
    position: absolute;
    top: 30%;
}

.co-popup-slide-projectresume .title-percent-icon{
    padding-top: 25px;
    padding-left: 5px;
    position: absolute;
    top: 0;
    font-size: 20px;
}

.co-popup-slide-projectresume .title-reste{
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: #fff;
}

.slide-footer-container{
    display: inline;
}

.slide-fin-creator{
    display: inline-flex;
}

.co-popup-slide-projectswiper{
    height: 100%;
}

.co-popup-slide-projectswiper .swiper{
    height: 76%;
}

/*.radio-item [type="checkbox"] {
    display: none;
}*/
.radio-item + .radio-item {
    margin-top: 15px;
}
.radio-item label {
    display: block;
    padding: 18px 20px;
    background: #e2eaf2;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 400;
    min-width: 220px;
    white-space: nowrap;
    position: relative;
    transition: 0.4s ease-in-out 0s;
}

.radio-item label:after {
    height: 19px;
    width: 19px;
    border: 2px solid #524eee;
    left: 19px;
    top: calc(50% - 12px);
}

/*.radio-item label + .radio-item label [type="checkbox"]:checked  {
    background-color: #e3fced;
    background-image: radial-gradient(at 47% 33%,hsl(0,0%,100%) 0,transparent 59%),radial-gradient(at 82% 65%,hsl(41.63,62%,85%) 0,transparent 55%);
}

.radio-item label [type="checkbox"]:checked + .radio-item label {
    background-color: #e3fced;
    background-image: radial-gradient(at 47% 33%,hsl(0,0%,100%) 0,transparent 59%),radial-gradient(at 82% 65%,hsl(41.63,62%,85%) 0,transparent 55%);
}*/

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
    position: relative;
    display: inline-block;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 150px;
    font-size: 35px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-text-stroke: 1px var(--aap-primary-color);
    text-stroke: 1px var(--aap-primary-color);
    -webkit-text-fill-color: var(--aap-primary-color);
    text-fill-color: var(--aap-primary-color);
    color: var(--aap-primary-color);
}

.checkbox-budget:not(:checked) + label{
    background-color: var(--dark-light);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.checkbox-budget:checked + label{
    background-color: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #e8f9f1;
    background-image: radial-gradient(at 47% 33%,hsl(61.48deg 67.78% 84.36%) 0,transparent 59%),radial-gradient(at 82% 65%,hsl(65.91deg 49.58% 84.38%) 0,transparent 55%);
    z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
    position: relative;
    display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
    position: absolute;
    content: attr(data-hover);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    -webkit-text-stroke: transparent;
    text-stroke: transparent;
    -webkit-text-fill-color: var(--aap-primary-color);
    text-fill-color: var(--aap-primary-color);
    color: var(--aap-primary-color);
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
    max-height: 0;
}
.checkbox-budget:checked + label span::before{
    max-height: 100%;
}

.checkbox:checked ~ .section .container .row .col-xl-10 .checkbox-budget:not(:checked) + label{
    background-color: var(--light);
    -webkit-text-stroke: 1px var(--light);
    text-stroke: 1px var(--light);
    box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.checkbox-budget:checked + label,
.checkbox-budget:not(:checked) + label{
    position: relative;
    display: inline-block;
    padding: 0;
    width: 150px;
    font-size: 22px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    -webkit-text-stroke: 1px var(--aap-tertiary-color);
    text-stroke: 1px var(--aap-tertiary-color);
    -webkit-text-fill-color: var(--aap-tertiary-color);
    text-fill-color: var(--aap-tertiary-color);
    color: var(--aap-tertiary-color);
}
.checkbox-budget:not(:checked) + label{
    background-color: #e2eaf2;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-budget:checked + label{
    background-color: transparent;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:not(:checked) + label:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-budget:checked + label::before,
.checkbox-budget:not(:checked) + label::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #e8f9f1;
    background-image: radial-gradient(at 47% 33%,hsl(61.48deg 67.78% 84.36%) 0,transparent 59%),radial-gradient(at 82% 65%,hsl(65.91deg 49.58% 84.38%) 0,transparent 55%);
    z-index: -1;
}
.checkbox-budget:checked + label span,
.checkbox-budget:not(:checked) + label span{
    position: relative;
    display: block;
}
.checkbox-budget:checked + label span::before,
.checkbox-budget:not(:checked) + label span::before{
    position: absolute;
    content: attr(data-hover);
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    -webkit-text-stroke: var(--aap-primary-color);
    text-stroke: var(--aap-primary-color);
    -webkit-text-fill-color: var(--aap-primary-color);
    text-fill-color: var(--aap-primary-color);
    color: var(--aap-primary-color);
    -webkit-transition: max-height 0.3s;
    -moz-transition: max-height 0.3s;
    transition: max-height 0.3s;
}
.checkbox-budget:not(:checked) + label span::before{
    max-height: 0;
}
.checkbox-budget:checked + label span::before{
    max-height: 100%;
}

.checkbox:checked ~ .checkbox-budget:not(:checked) + label{
    background-color: var(--light);
    -webkit-text-stroke: 1px var(--white);
    text-stroke: 1px var(--white);
    box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

:root {
    --white: #ffffff;
    --light: #f0eff3;
    --black: #000000;
    --dark-blue: #1f2029;
    --dark-light: #353746;
    --red: #da2c4d;
    --yellow: #f8ab37;
    --grey: #ecedf3;
}

.co-popup-chooseline-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2c3e50;
    z-index: 9999999;
}

.co-popup-chooseline {
    width: 1000px;
    max-height: 500px;
    background-color: white;
    position: relative;
    font-family: "montserrat" !important;
    border-radius: 10px;
}

.co-popup-chooseline-list{
    height: 300px;
    overflow-y: auto;
}

.co-popup-chooseline-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.co-popup-chooseline-list::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.co-popup-chooseline-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#bceab5),
    to(#7ee281),
    color-stop(.6, #9eeaa5))
}

.amountaffect {
    font-family: "montserrat" !important;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    position: relative;
    height: 120px;
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

.amountaffect::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.amountaffect::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}

.amountaffect::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FFF;
    background-image: -webkit-gradient(linear,
    40% 0%,
    75% 84%,
    from(#bceab5),
    to(#7ee281),
    color-stop(.6, #9eeaa5))
}

.amountaffect-list {
    padding: 5px;
    background-color: #f0f7ed;
    border-radius: 10px;
    margin: 10px;
    display: flex;
}

.amountaffect-list.recaplist {
    padding: 10px 10px;
}

.inputamount {
    -webkit-tap-highlight-color: transparent;
    line-height: calc(2.125rem);
    appearance: none;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    color: rgb(0, 0, 0);
    display: block;
    text-align: left;
    border: 0.0625rem solid rgb(206, 212, 218);
    background-color: rgb(255, 255, 255);
    transition: border-color 100ms ease 0s;
    min-height: 2.25rem;
    padding : 10px;
    border-radius: 0.25rem;
}

.totalToPay {
    font-size: 20px;
}

.close-co-popup-chooseline-header {
    right: 0;
    position: absolute;
    top: 0;
}

legend .droplef {
    margin-top: -10px;
}

.border-radius-10 {
    border-radius: 10px;
}

.border-radius-20 {
    border-radius: 10px;
}

.border-radius-perc-50 {
    border-radius: 50%;
}

.co-popup-chooseline-title {
    text-transform: none;
    font-size: 22px;
}

.close-co-popup-chooseline-header{
    border: 1px solid var(--aap-secondary-color);
    border-radius: 50%;
    margin: 20px;
    color: var(--aap-secondary-dark);
    background-color: #fff;
    transition: 0.4s ease-in-out 0s;
    height: 30px;
    width: 30px;
}

.co-popup-chooseline-header .close-co-popup-chooseline-header:hover {
    transform: rotate(90deg);
}

.close-co-popup-chooseline-header:hover {
    border-color: #f9576d;
    color: #f9576d;
}

.co-popup-chooseline-header{
    border-bottom: 1px solid;
}

.co-popup-chooseline-footer{
    border-top: 1px solid;
}

.co-popup-chooseline-footer .close-co-popup-chooseline-header {
    position: relative;
    border: 0px;
    margin: 10px;
    margin-right: 20px;
}

.slide-financer-bg #slide-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

.slide-financer-bg #slide-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    margin-bottom: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.slide-financer-bg #slide-search-input button {
    border: 0;
    background: none;
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: var(--aap-primary-color);
}

.slide-financer-bg .search-query:focus + button {
    z-index: 3;
}

.slide-financer-bg .search-query {
    border-radius: 10px;
}

.slide-financer-bg .search-query:focus  {
    border-color: var(--aap-primary-color);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.slide-fin-img{
    display: inline-block;
    overflow: hidden;
    width: 35px;
    height: 35px;
    border-radius: 15px;
    vertical-align: middle;
}

.slide-fin-mult-img{
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    vertical-align: middle;
    border: 3px solid #fff;;
}

.slide-fin-mult-img.plustext{
    background-color: #a6b1bc;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    padding-top: 4px;
}

.fin-container .slide-fin-mult-img + .slide-fin-mult-img{
    margin-left: -10px;
}

.porter-container .slide-fin-mult-img + .slide-fin-mult-img{
    margin-left: -10px;
}

.max-lines-visible {
    display: initial;
    overflow: initial;
    transition: 0.4s ease-in-out 0s;
}

.max-lines-visible > a.toggle {
    position: relative;
    transition: 0.4s ease-in-out 0s;
}

.formDescr {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: 0.4s ease-in-out 0s;
}

.formDescr > a.toggle {
    position: absolute;
    top: 0;
    right: 0;
    line-height: inherit;
    padding: 0 10px;
    cursor: pointer;
    white-space: nowrap;
    transition: 0.4s ease-in-out 0s;
}

.formDescr.max-lines-visible {
    display: initial;
    overflow: initial;
    transition: 0.4s ease-in-out 0s;
}
.formDescr.max-lines-visible > a.toggle {
    position: relative;
    transition: 0.4s ease-in-out 0s;
}

.inputemail {
    padding: 0px !important;
    width: 0px !important;
    border: var(--aap-primary-color) solid 2px !important;
    height: 44px !important;
    color: var(--aap-secondary-color) !important;
    transition: 0.4s ease-in-out 0s !important;
    font-size: 15px !important;
}

.inputemail.active {
    transition: 0.4s ease-in-out 0s !important;
    width: 270px !important;
    box-shadow: 0 0 0 transparent;
}

.ap-starter-btn-connect.email {
    transition: 0.4s ease-in-out 0s !important;
    width: 30px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    padding: 10px !important;
}

.ap-starter-btn-connect.email .connect-label  {
    display: none !important;
}

.ap-starter-btn-connect.email:hover {
    transition: 0.4s ease-in-out 0s !important;
    width: 300px !important;
}

.ap-starter-btn-connect.email:hover + .inputemail.active {
    width: 0px !important;
}

.ap-starter-btn-connect.email:hover .connect-label {
    display: inline !important;
}

/*#mainNav {
    display: none !important;
}*/

.form-user-profil {
    position: absolute;
    top: 10px;
    right: 10px;
}

.form-user-profil a.drpdwn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.form-user-profil a.drpdwn img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid var(--aap-secondary-color);
}

.form-user-profil a.drpdwn:hover img {
    border: 2px solid var(--aap-secondary-color);
}

.form-user-profil a.drpdwn img .dropdown-menu {
    text-align: center;
}

.inputemail.error{
    animation: shake 0.2s ease-in-out 0s 2;
    box-shadow: 0 0 0.5em #db4e4e;
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 2rem; }
    75% { margin-left: -2rem; }
    100% { margin-left: 0rem; }
}

.li-resume-slide a {
    display: inline-flex;
    flex-direction: column;
}

.li-resume-slide a small.resume1{
    font-size: 14px;
}

.br-container {
    display: inline-flex;
    list-style: none;
}

.br-container li {
    padding: 10px 20px;
}

.br-container li small {
    color: var(--aap-primary-color);
}

.br-container li span {
    font-weight: bold;
    color: var(--aap-secondary-color);
}

.br-container li span.nxt {
    color: #94a8b5;
}

.swiper-wrapper .swiper-slide:not(:first-child){
    display: none;
}

.ap-slide-next {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.ap-slide-prev {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
}

.ap-slide-next:disabled {
    background-color: #f9f9f970;
}

@media only screen and (max-width: 600px){
    .co-popup-slide-container {
        flex-direction: unset;
        justify-content: unset;
        display: inline-block;
    }

    .co-popup-slide{
        min-width: -webkit-fill-available;;
        width: -webkit-fill-available;;
        margin: 20px;
    }

    .co-popup-slide-content{
        width: auto;
    }

    .ap-starter-btn-resume{
        align-items: center !important;
    }

}

.coformslideradio + header , .coformslideradio + header + div#menuLeft {
    display: none;
}

.co-popup-slide-header-action label {
    width: 100%;
    justify-items: center;
    text-align: center;
}